section#account
  h2.ac-title Account components

  div.element-doc
    div.title
      h5 Passwordless sign in page
    div.about
      p TBD
    div.preview
      div.item
        section.ac-account.sign-in
          div.welcome Welcome back!
          div.lead Enter your email below and we will email you a link - clicking on that link will sign you in to your account.
          form.ac-form.ac-validate(data-ruleset="user_sign_in")
            div.form-item
              label(for="sign_in_email") Email address
              input.ac-input.block(name="email", id="sign_in_email", type="email", autocomplete="email", placeholder="Enter your email address")
            div.form-item
              button.ac-button.submit.with-icon(type="submit")
                include ../static/send.svg
                | Send Magic Link
          div.links
            div.link
              | Don't have an account?
              |
              a(href="#") Sign Up
              | .
            div.link
              | Need help accessing your account?
              |
              a(href="#") Contact support
              | .
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        section.ac-account.sign-in
          div.welcome Welcome back!
          div.lead Enter your email below and we will email you a link - clicking on that link will sign you in to your account.
          form.ac-form.ac-validate(data-ruleset="...")
            div.form-item
              label(for="...") Email address
              input.ac-input.block(name="...", id="...", type="email", autocomplete="email", placeholder="Enter your email address")
            div.form-item
              button.ac-button.submit.with-icon(type="submit", name="...")
                svg ...
                | Send Magic Link
          div.links
            div.link
              | Don't have an account?
              |
              a(href="#") Sign Up
              | .
            div.link
              | Need help accessing your account?
              |
              a(href="#") Contact support
              | .

  div.element-doc
    div.title
      h5 Passwordless post email screen
    div.about
      p TBD
      div.ac-panel.signal-warning
        div.signal-heading No call to action button for unknown providers!
        div.signal-body.
          A reasonable attempt should be made to determine email provider used by the visitor. Call to action should only
          be shown if email provider is determined with high degree of certainty and can be linked to programmatically.
    div.preview
      div.item
        section.ac-account.sign-in
          div.welcome Check your email!
          div.status We’ve emailed a special link to <strong>example@gmail.com</strong>. Click the link to confirm your address and get started.
          div.cta
            a(href="#" target="_ac_email").ac-button.block.vnd-mail-gmail Open Gmail
          div.links
            div.link
              | Didn't receive an email?
              | Please,&nbsp;
              a(href="#") try again.
            div.link
              | Wrong email?
              | Please,&nbsp;
              a(href="#") re-enter your address
              | .
            div.link
              | Need help accessing your account?
              |
              a(href="#") Contact support
              | .
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        section.ac-account.sign-in
          div.welcome Check your email!
          div.status We’ve emailed a special link to <strong>example@gmail.com</strong>. Click the link to confirm your address and get started.
          div.cta
            a(href="#" target="_ac_email").ac-button.block.vnd-mail-gmail Open Gmail
          div.links
            div.link
              | Didn't receive an email?
              | Please,&nbsp;
              a(href="#") try again.
            div.link
              | Wrong email?
              | Please,&nbsp;
              a(href="#") re-enter your address
              | .
            div.link
              | Need help accessing your account?
              |
              a(href="#") Contact support
              | .

  div.element-doc
    div.title
      h5 Passwordless post email buttons
    div.about
      p TBD
    div.preview
      div.item: a(href="#" target="_ac_email" data-ac-same-width="vnd-open-eml").ac-button.vnd-mail-gmail Open Gmail
      div.item: a(href="#" target="_ac_email" data-ac-same-width="vnd-open-eml").ac-button.vnd-mail-outlook Open Outlook
      div.item: a(href="#" target="_ac_email" data-ac-same-width="vnd-open-eml").ac-button.vnd-mail-yahoo Open Yahoo Mail
      div.item: a(href="#" target="_ac_email" data-ac-same-width="vnd-open-eml").ac-button.vnd-mail-protonmail Open ProtonMail
      div.item: a(href="#" target="_ac_email" data-ac-same-width="vnd-open-eml").ac-button.vnd-mail-icloud Open iCloud Mail
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        div: a(href="#" target="_ac_email").ac-button.vnd-mail-gmail Open Gmail
        div: a(href="#" target="_ac_email").ac-button.vnd-mail-outlook Open Outlook
        div: a(href="#" target="_ac_email").ac-button.vnd-mail-yahoo Open Yahoo Mail
        div: a(href="#" target="_ac_email").ac-button.vnd-mail-protonmail Open ProtonMail
        div: a(href="#" target="_ac_email").ac-button.vnd-mail-icloud Open iCloud Mail

  div.element-doc
    div.title
      h5 Passwordless unknown user
    div.about
      p TBD
    div.preview
      div.item
        section.ac-account.sign-in
          .welcome Hello, I don't believe we've met!
          .status
            | Could not find user account associated with email address
            |
            strong example@gmail.com
            | .
          .cta
            a.ac-button.block.ac-mrg-b-xs(href="#") Sign up
            a.ac-button.secondary.block(href="#") Try another email
          .links
            .link
              | Need help accessing your account?
              |
              a(href='#') Contact support
              | .
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        section.ac-account.sign-in
          .welcome Hello, I don't believe we've met!
          .status
            | Could not find user account associated with email address
            |
            strong example@gmail.com
            | .
          .cta
            a.ac-button.block.ac-mrg-b-xs(href="#") Sign up
            a.ac-button.secondary.block(href="#") Try another email
          .links
            .link
              | Need help accessing your account?
              |
              a(href='#') Contact support
              | .

  div.element-doc
    div.title
      h5 2FA authentication
    div.about
      p TBD
    div.preview
      div.item
        section.ac-account.sign-in
          div.welcome 2-Step Verification
          div.lead.
            Enter the verification code generated by your 2FA authenticator application.
          form.ac-form.ac-validate(data-ruleset="user_2fa")
            div.form-item
              label(for="2fa_code") Code from authenticator app
              input.ac-input.block.code(name="code", id="2fa_code", type="text", autocomplete="off", placeholder="Enter code", minlength=6, maxlength=6)
            div.form-item
              button.ac-button.submit.with-icon(type="submit")
                include ../static/2fa.svg
                | Verify
          div.ac-text-micro.copy.ac-mrg-t-sm.
            If, for any reason, you cannot access your authenticator application for your two-factor
            verification code, you can log in using your recovery code.
            Each recovery code can be used only once.
          div.links
            div.link
              | Need help accessing your account?
              |
              a(href="#") Contact support
              | .
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        section.ac-account.sign-in
          div.welcome 2-Step Verification
          div.lead.
            Enter the verification code generated by your 2FA authenticator application.
          form.ac-form.ac-validate(data-ruleset="...")
            div.form-item
              label(for="...") Code from authenticator app
              input.ac-input.block.code(name="...", id="...", type="text", autocomplete="off", placeholder="Enter code", minlength=6, maxlength=6)
            div.form-item
              button.ac-button.submit.with-icon(type="submit", name="...")
                svg ...
                | Verify
          div.ac-text-micro.copy.ac-mrg-t-sm.
            If, for any reason, you cannot access your authenticator application for your two-factor
            verification code, you can log in using your recovery code.
            Each recovery code can be used only once.
          div.links
            div.link
              | Need help accessing your account?
              |
              a(href="#") Contact support
              | .

  div.element-doc
    div.title
      h5 Passwordless registration
    div.about
      p TBD
    div.preview
      div.item
        section.ac-account.sign-in
          div.welcome It's a pleasure to meet you!
          div.lead.
            Fill out the form below and we will email you a link - clicking on that link will sign you in to your account.
          form.ac-form.ac-validate(data-ruleset="user_sign_up")
            div.form-item
              label(for="name") Your name
              input.ac-input.block(name="name", id="name", type="text", autocomplete="name", placeholder="Enter your name")
            div.form-item
              label(for="email") Email address
              input.ac-input.block(name="email", id="email", type="email", autocomplete="email", placeholder="Enter your email address")
            div.form-item
              input.ac-input(type="checkbox", id="agree_terms", name="agree_terms")
              label(for="agree_terms")
                | I agree to the&nbsp;
                a(href="#") Terms of Service
                | &nbsp;and&nbsp;
                a(href="#") Privacy Policy
            div.form-item
              button.ac-button.submit.with-icon(type="submit")
                include ../static/register.svg
                | Create my account
          div.links
            div.link
              | Already have an account?
              |
              a(href="#") Sign In
              | .
            div.link
              | Need help creating an account?
              |
              a(href="#") Contact support
              | .
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        section.ac-account.sign-in
          div.welcome It's a pleasure to meet you!
          div.lead.
            Fill out the form below and we will email you a link - clicking on that link will sign you in to your account.
          form.ac-form.ac-validate(data-ruleset="...")
            div.form-item
              label(for="...") Your name
              input.ac-input.block(name="...", id="...", type="text", autocomplete="name", placeholder="Enter your name")
            div.form-item
              label(for="...") Email address
              input.ac-input.block(name="...", id="...", type="email", autocomplete="email", placeholder="Enter your email address")
            div.form-item
              input.ac-input(type="checkbox", id="...", name="...")
              label(for="...")
                | I agree to the&nbsp;
                a(href="#") Terms of Service
                | &nbsp;and&nbsp;
                a(href="#") Privacy Policy
            div
              button.ac-button.submit.with-icon(type="submit")
                svg ...
                | Create my account
          div.links
            div.link
              | Already have an account?
              |
              a(href="#") Sign In
              | .
            div.link
              | Need help creating an account?
              |
              a(href="#") Contact support
              | .

  div.element-doc
    div.title
      h5 Header hero for passwordless sign in
    div.about
      p Used for standalone sign in and account action pages that have no other means of navigation
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        div.ac-account-header
          div.logo
            a(href="#")
              img.ac-only-light(src="...")
              img.ac-only-dark(src="...")
