section#buttons
  h2.pl-title Buttons

  div
    p Buttons can be applied to both <code>button</code> and <code>a</code> tags.
      |
      | Block style is applied by default, even for <code>a</code> tags.

  h3.pl-title Block buttons

  table.pl-table.block.lg.borders.pl-mrg-y-sm
    tr
      td.top(rowspan=1) Default button
      td: button.pl-button Default
      td: code.pl-user-select-all pl-button
    tr
      td.top(rowspan=2) Modifiers
      td: button.pl-button.disabled Disabled
      td: code.pl-user-select-all pl-button disabled
    tr
      td: button.pl-button.block Block
      td: code.pl-user-select-all pl-button block
    tr
      td.top(rowspan=2) Sizes
      td: button.pl-button.sm Small
      td: code.pl-user-select-all pl-button sm
    tr
      td: button.pl-button.lg Large
      td: code.pl-user-select-all pl-button lg
    tr
      td.top(rowspan=4) Call to action
      td: button.pl-button.crimson Crimson
      td: code.pl-user-select-all pl-button crimson
    tr
      td: button.pl-button.cornflower Cornflower
      td: code.pl-user-select-all pl-button cornflower
    tr
      td: button.pl-button.tangerine Tangerine
      td: code.pl-user-select-all pl-button tangerine
    tr
      td: button.pl-button.eve Eve
      td: code.pl-user-select-all pl-button eve
    tr
      td.top(rowspan=1) Generic call to action
      td: button.pl-button.secondary Secondary
      td: code.pl-user-select-all pl-button secondary
    tr
      td.top(rowspan=3) Actions with indicated outcome
      td: button.pl-button.success Success
      td: code.pl-user-select-all pl-button success
    tr
      td: button.pl-button.warning Warning
      td: code.pl-user-select-all pl-button warning
    tr
      td: button.pl-button.danger Danger
      td: code.pl-user-select-all pl-button danger

  h3.pl-title Link buttons

  table.pl-table.block.lg.borders.pl-mrg-y-sm
    tr
      td.top(rowspan=1) Default button
      td: button.pl-button.link Default
      td: code.pl-user-select-all pl-button link
    tr
      td.top(rowspan=4) Call to action
      td: button.pl-button.link.crimson Crimson
      td: code.pl-user-select-all pl-button link crimson
    tr
      td: button.pl-button.link.cornflower Cornflower
      td: code.pl-user-select-all pl-button link cornflower
    tr
      td: button.pl-button.link.tangerine Tangerine
      td: code.pl-user-select-all pl-button link tangerine
    tr
      td: button.pl-button.link.eve Eve
      td: code.pl-user-select-all pl-button link eve
    tr
      td.top(rowspan=1) Generic call to action
      td: button.pl-button.link.secondary Secondary
      td: code.pl-user-select-all pl-button link secondary
    tr
      td.top(rowspan=3) Actions with indicated outcome
      td: button.pl-button.link.success Success
      td: code.pl-user-select-all pl-button link success
    tr
      td: button.pl-button.link.warning Warning
      td: code.pl-user-select-all pl-button link warning
    tr
      td: button.pl-button.link.danger Danger
      td: code.pl-user-select-all pl-button link danger
