section#buttons
  h2.pl-title Buttons

  div
    p Buttons can be applied to both <code>button</code> and <code>a</code> tags.
      |
      | Block style is applied by default, even for <code>a</code> tags.

  h3.pl-title Block buttons

  div.element-doc
    div.title
      h5 Basic button
    div.about
      p A basic button can be created with minimal markup.
    div.preview
      div.item: button.pl-button Basic button
      div.item: a(href='javascript:void(0);').pl-button Basic link button
      div.item: button.pl-button.secondary Secondary button
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        button.pl-button Basic button
      code(data-lang="html"): :render-escape
        a(href="#").pl-button Basic link button
      code(data-lang="html"): :render-escape
        button.pl-button.secondary Secondary button

  div.element-doc
    div.title
      h5 Button modifiers
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.disabled Disabled button
      div.item: button.pl-button.block Block button
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        button.pl-button.disabled Disabled button
      code(data-lang="html"): :render-escape
        button.pl-button.block Block button

  div.element-doc
    div.title
      h5 Button sizing
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.sm Small button
      div.item: button.pl-button Regular button
      div.item: button.pl-button.lg Large button
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        button.pl-button.sm Small button
      code(data-lang="html"): :render-escape
        button.pl-button Regular button
      code(data-lang="html"): :render-escape
        button.pl-button.lg Large button

  div.element-doc
    div.title
      h5 Call to action buttons
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.crimson Crimson
      div.item: button.pl-button.cornflower Cornflower
      div.item: button.pl-button.tangerine Tangerine
      div.item: button.pl-button.eve Eve
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        button.pl-button.crimson Crimson
      code(data-lang="html"): :render-escape
        button.pl-button.cornflower Cornflower
      code(data-lang="html"): :render-escape
        button.pl-button.tangerine Tangerine
      code(data-lang="html"): :render-escape
        button.pl-button.eve Eve

  div.element-doc
    div.title
      h5 Button with effect
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.success Success button
      div.item: button.pl-button.warning Warning button
      div.item: button.pl-button.danger Danger button
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        button.pl-button.success Success button
      code(data-lang="html"): :render-escape
        button.pl-button.warning Warning button
      code(data-lang="html"): :render-escape
        button.pl-button.danger Danger button

  div.element-doc
    div.title
      h5 Links and button links
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.link Default link
      div.item: button.pl-button.link.crimson Crimson link
      div.item: button.pl-button.link.cornflower Cornflower link
      div.item: button.pl-button.link.tangerine Tangerine link
      div.item: button.pl-button.link.eve Eve link
      div.item: button.pl-button.link.secondary Secondary link
      div.item: button.pl-button.link.success Success link
      div.item: button.pl-button.link.warning Warning link
      div.item: button.pl-button.link.danger Danger link
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        button.pl-button.link Default link
      code(data-lang="html"): :render-escape
        button.pl-button.link.secondary Secondary link
      code(data-lang="html"): :render-escape
        button.pl-button.link.crimson Crimson link
      code(data-lang="html"): :render-escape
        button.pl-button.link.cornflower Cornflower link
      code(data-lang="html"): :render-escape
        button.pl-button.link.tangerine Tangerine link
      code(data-lang="html"): :render-escape
        button.pl-button.link.eve Eve link
      code(data-lang="html"): :render-escape
        button.pl-button.link.success Success link
      code(data-lang="html"): :render-escape
        button.pl-button.link.warning Warning link
      code(data-lang="html"): :render-escape
        button.pl-button.link.danger Danger link

  div.element-doc
    div.title
      h5 Icon buttons
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.with-icon.sm
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
          path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
          path(d='M0 0h24v24H0z', fill='none')
        | Small icon button
      div.item: button.pl-button.with-icon
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
          path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
          path(d='M0 0h24v24H0z', fill='none')
        | Regular icon button
      div.item: button.pl-button.with-icon.lg
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
          path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
          path(d='M0 0h24v24H0z', fill='none')
        | Large icon button
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        button.pl-button.with-icon.sm
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
            path(d='M0 0h24v24H0z', fill='none')
          |
          | Small icon button
      code(data-lang="html"): pre: :render-escape
        button.pl-button.with-icon
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
            path(d='M0 0h24v24H0z', fill='none')
          |
          | Regular icon button
      code(data-lang="html"): pre: :render-escape
        button.pl-button.with-icon.lg
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
            path(d='M0 0h24v24H0z', fill='none')
          |
          | Large icon button


  div.element-doc
    div.title
      h5 Icon buttons without labels
    div.about
      p TBD
    div.preview
      div.item: button.pl-button.only-icon.sm
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
          path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
          path(d='M0 0h24v24H0z', fill='none')
      div.item: button.pl-button.only-icon
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
          path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
          path(d='M0 0h24v24H0z', fill='none')
      div.item: button.pl-button.only-icon.lg
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
          path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
          path(d='M0 0h24v24H0z', fill='none')
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        button.pl-button.only-icon.sm
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
            path(d='M0 0h24v24H0z', fill='none')
      code(data-lang="html"): pre: :render-escape
        button.pl-button.only-icon
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
            path(d='M0 0h24v24H0z', fill='none')
      code(data-lang="html"): pre: :render-escape
        button.pl-button.only-icon.lg
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#ffffff')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z')
            path(d='M0 0h24v24H0z', fill='none')
