section#colors
  h2.ac-title Colors

  h4 Brand colors
  table.ac-table.color-table.block.ac-mrg-b-lg
    thead
      tr
        th.ac-pad-y-sm Name
        th.ac-pad-y-sm HEX
        th.ac-pad-y-sm SCSS
    tbody
      tr.ac-sc-brand-crimson.ac-sc-brand-crimson-ctr
        td.nam Arcadia Crimson
        td.hex #dd2e44
        td.var $ac-color-brand-rimson
      tr.ac-sc-brand-cornflower.ac-sc-brand-cornflower-ctr
        td.nam Arcadia Cornflower
        td.hex #5f7aff
        td.var $ac-color-brand-cornflower
      tr.ac-sc-brand-tangerine.ac-sc-brand-tangerine-ctr
        td.nam Arcadia Tangerine
        td.hex #eb8e00
        td.var $ac-color-brand-tangerine

  h4 Branding color scheme
  table.ac-table.color-table.block.ac-mrg-b-lg
    thead
      tr
        th.ac-pad-y-sm Name
        th.ac-pad-y-sm HEX
        th.ac-pad-y-sm SCSS
    tbody
      tr.ac-sc-crimson.ac-sc-crimson-ctr
        td.nam Crimson
        td.hex #dd2e44
        td.var $ac-color-crimson
      tr.ac-sc-crimson-shade-100.ac-sc-crimson-shade-100-ctr
        td.nam Crimson Shade 100
        td.hex #25080b
        td.var $ac-color-crimson-shade-100
      tr.ac-sc-crimson-shade-200.ac-sc-crimson-shade-200-ctr
        td.nam Crimson Shade 200
        td.hex #4a0f17
        td.var $ac-color-crimson-shade-200
      tr.ac-sc-crimson-shade-300.ac-sc-crimson-shade-300-ctr
        td.nam Crimson Shade 300
        td.hex #6f1722
        td.var $ac-color-crimson-shade-300
      tr.ac-sc-crimson-shade-400.ac-sc-crimson-shade-400-ctr
        td.nam Crimson Shade 400
        td.hex #931f2d
        td.var $ac-color-crimson-shade-400
      tr.ac-sc-crimson-shade-500.ac-sc-crimson-shade-500-ctr
        td.nam Crimson Shade 500
        td.hex #b82639
        td.var $ac-color-crimson-shade-500
      tr.ac-sc-crimson-tint-100.ac-sc-crimson-tint-100-ctr
        td.nam Crimson Tint 100
        td.hex #e35163
        td.var $ac-color-crimson-tint-100
      tr.ac-sc-crimson-tint-200.ac-sc-crimson-tint-200-ctr
        td.nam Crimson Tint 200
        td.hex #e87482
        td.var $ac-color-crimson-tint-200
      tr.ac-sc-crimson-tint-300.ac-sc-crimson-tint-300-ctr
        td.nam Crimson Tint 300
        td.hex #ee97a2
        td.var $ac-color-crimson-tint-300
      tr.ac-sc-crimson-tint-400.ac-sc-crimson-tint-400-ctr
        td.nam Crimson Tint 400
        td.hex #f4b9c1
        td.var $ac-color-crimson-tint-400
      tr.ac-sc-crimson-tint-500.ac-sc-crimson-tint-500-ctr
        td.nam Crimson Tint 500
        td.hex #f9dce0
        td.var $ac-color-crimson-tint-500;

      tr: td.spacer(colspan=3)
      tr.ac-sc-cornflower.ac-sc-cornflower-ctr
        td.nam Cornflower
        td.hex #5f7aff
        td.var $ac-color-cornflower
      tr.ac-sc-cornflower-shade-100.ac-sc-cornflower-shade-100-ctr
        td.nam Cornflower Shade 100
        td.hex #10142b
        td.var $ac-color-cornflower-shade-100
      tr.ac-sc-cornflower-shade-200.ac-sc-cornflower-shade-200-ctr
        td.nam Cornflower Shade 200
        td.hex #202955
        td.var $ac-color-cornflower-shade-200
      tr.ac-sc-cornflower-shade-300.ac-sc-cornflower-shade-300-ctr
        td.nam Cornflower Shade 300
        td.hex #303d80
        td.var $ac-color-cornflower-shade-300
      tr.ac-sc-cornflower-shade-400.ac-sc-cornflower-shade-400-ctr
        td.nam Cornflower Shade 400
        td.hex #3f51aa
        td.var $ac-color-cornflower-shade-400
      tr.ac-sc-cornflower-shade-500.ac-sc-cornflower-shade-500-ctr
        td.nam Cornflower Shade 500
        td.hex #4f66d5
        td.var $ac-color-cornflower-shade-500
      tr.ac-sc-cornflower-tint-100.ac-sc-cornflower-tint-100-ctr
        td.nam Cornflower Tint 100
        td.hex #7a90ff
        td.var $ac-color-cornflower-tint-100
      tr.ac-sc-cornflower-tint-200.ac-sc-cornflower-tint-200-ctr
        td.nam Cornflower Tint 200
        td.hex #94a6ff
        td.var $ac-color-cornflower-tint-200
      tr.ac-sc-cornflower-tint-300.ac-sc-cornflower-tint-300-ctr
        td.nam Cornflower Tint 300
        td.hex #afbdff
        td.var $ac-color-cornflower-tint-300
      tr.ac-sc-cornflower-tint-400.ac-sc-cornflower-tint-400-ctr
        td.nam Cornflower Tint 400
        td.hex #cad3ff
        td.var $ac-color-cornflower-tint-400
      tr.ac-sc-cornflower-tint-500.ac-sc-cornflower-tint-500-ctr
        td.nam Cornflower Tint 500
        td.hex #e4e9ff
        td.var $ac-color-cornflower-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-tangerine.ac-sc-tangerine-ctr
        td.nam Tangerine
        td.hex #eb8e00
        td.var $ac-color-tangerine
      tr.ac-sc-tangerine-shade-100.ac-sc-tangerine-shade-100-ctr
        td.nam Tangerine Shade 100
        td.hex #271800
        td.var $ac-color-tangerine-shade-100
      tr.ac-sc-tangerine-shade-200.ac-sc-tangerine-shade-200-ctr
        td.nam Tangerine Shade 200
        td.hex #4e2f00
        td.var $ac-color-tangerine-shade-200
      tr.ac-sc-tangerine-shade-300.ac-sc-tangerine-shade-300-ctr
        td.nam Tangerine Shade 300
        td.hex #764700
        td.var $ac-color-tangerine-shade-300
      tr.ac-sc-tangerine-shade-400.ac-sc-tangerine-shade-400-ctr
        td.nam Tangerine Shade 400
        td.hex #9d5f00
        td.var $ac-color-tangerine-shade-400
      tr.ac-sc-tangerine-shade-500.ac-sc-tangerine-shade-500-ctr
        td.nam Tangerine Shade 500
        td.hex #c47600
        td.var $ac-color-tangerine-shade-500
      tr.ac-sc-tangerine-tint-100.ac-sc-tangerine-tint-100-ctr
        td.nam Tangerine Tint 100
        td.hex #eea12b
        td.var $ac-color-tangerine-tint-100
      tr.ac-sc-tangerine-tint-200.ac-sc-tangerine-tint-200-ctr
        td.nam Tangerine Tint 200
        td.hex #f2b455
        td.var $ac-color-tangerine-tint-200
      tr.ac-sc-tangerine-tint-300.ac-sc-tangerine-tint-300-ctr
        td.nam Tangerine Tint 300
        td.hex #f5c780
        td.var $ac-color-tangerine-tint-300
      tr.ac-sc-tangerine-tint-400.ac-sc-tangerine-tint-400-ctr
        td.nam Tangerine Tint 400
        td.hex #f8d9aa
        td.var $ac-color-tangerine-tint-400
      tr.ac-sc-tangerine-tint-500.ac-sc-tangerine-tint-500-ctr
        td.nam Tangerine Tint 500
        td.hex #fcecd5
        td.var $ac-color-tangerine-tint-500

  h4 User experience color scheme
  table.ac-table.color-table.block
    thead
      tr
        th.ac-pad-y-sm Name
        th.ac-pad-y-sm HEX
        th.ac-pad-y-sm SCSS
    tbody
      tr.ac-sc-neptune.ac-sc-neptune-ctr
        td.nam Neptune
        td.hex #2a4e93
        td.var $ac-color-neptune
      tr.ac-sc-neptune-shade-100.ac-sc-neptune-shade-100-ctr
        td.nam Neptune Shade 100
        td.hex #070d19
        td.var $ac-color-neptune-shade-100
      tr.ac-sc-neptune-shade-200.ac-sc-neptune-shade-200-ctr
        td.nam Neptune Shade 200
        td.hex #0e1a31
        td.var $ac-color-neptune-shade-200
      tr.ac-sc-neptune-shade-300.ac-sc-neptune-shade-300-ctr
        td.nam Neptune Shade 300
        td.hex #15274a
        td.var $ac-color-neptune-shade-300
      tr.ac-sc-neptune-shade-400.ac-sc-neptune-shade-400-ctr
        td.nam Neptune Shade 400
        td.hex #1c3462
        td.var $ac-color-neptune-shade-400
      tr.ac-sc-neptune-shade-500.ac-sc-neptune-shade-500-ctr
        td.nam Neptune Shade 500
        td.hex #23417b
        td.var $ac-color-neptune-shade-500
      tr.ac-sc-neptune-tint-100.ac-sc-neptune-tint-100-ctr
        td.nam Neptune Tint 100
        td.hex #4e6ca5
        td.var $ac-color-neptune-tint-100
      tr.ac-sc-neptune-tint-200.ac-sc-neptune-tint-200-ctr
        td.nam Neptune Tint 200
        td.hex #7189b7
        td.var $ac-color-neptune-tint-200
      tr.ac-sc-neptune-tint-300.ac-sc-neptune-tint-300-ctr
        td.nam Neptune Tint 300
        td.hex #95a7c9
        td.var $ac-color-neptune-tint-300
      tr.ac-sc-neptune-tint-400.ac-sc-neptune-tint-400-ctr
        td.nam Neptune Tint 400
        td.hex #b8c4db
        td.var $ac-color-neptune-tint-400
      tr.ac-sc-neptune-tint-500.ac-sc-neptune-tint-500-ctr
        td.nam Neptune Tint 500
        td.hex #dce2ed
        td.var $ac-color-neptune-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-fjord.ac-sc-fjord-ctr
        td.nam Fjord
        td.hex #3f5b77
        td.var $ac-color-fjord
      tr.ac-sc-fjord-shade-100.ac-sc-fjord-shade-100-ctr
        td.nam Fjord Shade 100
        td.hex #0b0f14
        td.var $ac-color-fjord-shade-100
      tr.ac-sc-fjord-shade-200.ac-sc-fjord-shade-200-ctr
        td.nam Fjord Shade 200
        td.hex #151e28
        td.var $ac-color-fjord-shade-200
      tr.ac-sc-fjord-shade-300.ac-sc-fjord-shade-300-ctr
        td.nam Fjord Shade 300
        td.hex #202e3c
        td.var $ac-color-fjord-shade-300
      tr.ac-sc-fjord-shade-400.ac-sc-fjord-shade-400-ctr
        td.nam Fjord Shade 400
        td.hex #2a3d4f
        td.var $ac-color-fjord-shade-400
      tr.ac-sc-fjord-shade-500.ac-sc-fjord-shade-500-ctr
        td.nam Fjord Shade 500
        td.hex #354c63
        td.var $ac-color-fjord-shade-500
      tr.ac-sc-fjord-tint-100.ac-sc-fjord-tint-100-ctr
        td.nam Fjord Tint 100
        td.hex #5f768e
        td.var $ac-color-fjord-tint-100
      tr.ac-sc-fjord-tint-200.ac-sc-fjord-tint-200-ctr
        td.nam Fjord Tint 200
        td.hex #7f92a4
        td.var $ac-color-fjord-tint-200
      tr.ac-sc-fjord-tint-300.ac-sc-fjord-tint-300-ctr
        td.nam Fjord Tint 300
        td.hex #9fadbb
        td.var $ac-color-fjord-tint-300
      tr.ac-sc-fjord-tint-400.ac-sc-fjord-tint-400-ctr
        td.nam Fjord Tint 400
        td.hex #bfc8d2
        td.var $ac-color-fjord-tint-400
      tr.ac-sc-fjord-tint-500.ac-sc-fjord-tint-500-ctr
        td.nam Fjord Tint 500
        td.hex #dfe4e8
        td.var $ac-color-fjord-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-eve.ac-sc-eve-ctr
        td.nam Eve
        td.hex #3b4dbf
        td.var $ac-color-eve
      tr.ac-sc-eve-shade-100.ac-sc-eve-shade-100-ctr
        td.nam Eve Shade 100
        td.hex #0a0d20
        td.var $ac-color-eve-shade-100
      tr.ac-sc-eve-shade-200.ac-sc-eve-shade-200-ctr
        td.nam Eve Shade 200
        td.hex #141a40
        td.var $ac-color-eve-shade-200
      tr.ac-sc-eve-shade-300.ac-sc-eve-shade-300-ctr
        td.nam Eve Shade 300
        td.hex #1e2760
        td.var $ac-color-eve-shade-300
      tr.ac-sc-eve-shade-400.ac-sc-eve-shade-400-ctr
        td.nam Eve Shade 400
        td.hex #27337f
        td.var $ac-color-eve-shade-400
      tr.ac-sc-eve-shade-500.ac-sc-eve-shade-500-ctr
        td.nam Eve Shade 500
        td.hex #31409f
        td.var $ac-color-eve-shade-500
      tr.ac-sc-eve-tint-100.ac-sc-eve-tint-100-ctr
        td.nam Eve Tint 100
        td.hex #5c6bca
        td.var $ac-color-eve-tint-100
      tr.ac-sc-eve-tint-200.ac-sc-eve-tint-200-ctr
        td.nam Eve Tint 200
        td.hex #7c88d4
        td.var $ac-color-eve-tint-200
      tr.ac-sc-eve-tint-300.ac-sc-eve-tint-300-ctr
        td.nam Eve Tint 300
        td.hex #9da6df
        td.var $ac-color-eve-tint-300
      tr.ac-sc-eve-tint-400.ac-sc-eve-tint-400-ctr
        td.nam Eve Tint 400
        td.hex #bec4ea
        td.var $ac-color-eve-tint-400
      tr.ac-sc-eve-tint-500.ac-sc-eve-tint-500-ctr
        td.nam Eve Tint 500
        td.hex #dee1f4
        td.var $ac-color-eve-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-apricot.ac-sc-apricot-ctr
        td.nam Apricot
        td.hex #ff6d05
        td.var $ac-color-apricot
      tr.ac-sc-apricot-shade-100.ac-sc-apricot-shade-100-ctr
        td.nam Apricot Shade 100
        td.hex #2b1201
        td.var $ac-color-apricot-shade-100
      tr.ac-sc-apricot-shade-200.ac-sc-apricot-shade-200-ctr
        td.nam Apricot Shade 200
        td.hex #552402
        td.var $ac-color-apricot-shade-200
      tr.ac-sc-apricot-shade-300.ac-sc-apricot-shade-300-ctr
        td.nam Apricot Shade 300
        td.hex #803703
        td.var $ac-color-apricot-shade-300
      tr.ac-sc-apricot-shade-400.ac-sc-apricot-shade-400-ctr
        td.nam Apricot Shade 400
        td.hex #aa4903
        td.var $ac-color-apricot-shade-400
      tr.ac-sc-apricot-shade-500.ac-sc-apricot-shade-500-ctr
        td.nam Apricot Shade 500
        td.hex #d55b04
        td.var $ac-color-apricot-shade-500
      tr.ac-sc-apricot-tint-100.ac-sc-apricot-tint-100-ctr
        td.nam Apricot Tint 100
        td.hex #ff852f
        td.var $ac-color-apricot-tint-100
      tr.ac-sc-apricot-tint-200.ac-sc-apricot-tint-200-ctr
        td.nam Apricot Tint 200
        td.hex #ff9e58
        td.var $ac-color-apricot-tint-200
      tr.ac-sc-apricot-tint-300.ac-sc-apricot-tint-300-ctr
        td.nam Apricot Tint 300
        td.hex #ffb682
        td.var $ac-color-apricot-tint-300
      tr.ac-sc-apricot-tint-400.ac-sc-apricot-tint-400-ctr
        td.nam Apricot Tint 400
        td.hex #ffceac
        td.var $ac-color-apricot-tint-400
      tr.ac-sc-apricot-tint-500.ac-sc-apricot-tint-500-ctr
        td.nam Apricot Tint 500
        td.hex #ffe7d5
        td.var $ac-color-apricot-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-sunset.ac-sc-sunset-ctr
        td.nam Sunset
        td.hex #ffd105
        td.var $ac-color-sunset
      tr.ac-sc-sunset-shade-100.ac-sc-sunset-shade-100-ctr
        td.nam Sunset Shade 100
        td.hex #2b2301
        td.var $ac-color-sunset-shade-100
      tr.ac-sc-sunset-shade-200.ac-sc-sunset-shade-200-ctr
        td.nam Sunset Shade 200
        td.hex #554602
        td.var $ac-color-sunset-shade-200
      tr.ac-sc-sunset-shade-300.ac-sc-sunset-shade-300-ctr
        td.nam Sunset Shade 300
        td.hex #806903
        td.var $ac-color-sunset-shade-300
      tr.ac-sc-sunset-shade-400.ac-sc-sunset-shade-400-ctr
        td.nam Sunset Shade 400
        td.hex #aa8b03
        td.var $ac-color-sunset-shade-400
      tr.ac-sc-sunset-shade-500.ac-sc-sunset-shade-500-ctr
        td.nam Sunset Shade 500
        td.hex #d5ae04
        td.var $ac-color-sunset-shade-500
      tr.ac-sc-sunset-tint-100.ac-sc-sunset-tint-100-ctr
        td.nam Sunset Tint 100
        td.hex #ffd92f
        td.var $ac-color-sunset-tint-100
      tr.ac-sc-sunset-tint-200.ac-sc-sunset-tint-200-ctr
        td.nam Sunset Tint 200
        td.hex #ffe058
        td.var $ac-color-sunset-tint-200
      tr.ac-sc-sunset-tint-300.ac-sc-sunset-tint-300-ctr
        td.nam Sunset Tint 300
        td.hex #ffe882
        td.var $ac-color-sunset-tint-300
      tr.ac-sc-sunset-tint-400.ac-sc-sunset-tint-400-ctr
        td.nam Sunset Tint 400
        td.hex #fff0ac
        td.var $ac-color-sunset-tint-400
      tr.ac-sc-sunset-tint-500.ac-sc-sunset-tint-500-ctr
        td.nam Sunset Tint 500
        td.hex #fff7d5
        td.var $ac-color-sunset-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-gaia.ac-sc-gaia-ctr
        td.nam Gaia
        td.hex #2e633a
        td.var $ac-color-gaia
      tr.ac-sc-gaia-shade-100.ac-sc-gaia-shade-100-ctr
        td.nam Gaia Shade 100
        td.hex #08110a
        td.var $ac-color-gaia-shade-100
      tr.ac-sc-gaia-shade-200.ac-sc-gaia-shade-200-ctr
        td.nam Gaia Shade 200
        td.hex #0f2113
        td.var $ac-color-gaia-shade-200
      tr.ac-sc-gaia-shade-300.ac-sc-gaia-shade-300-ctr
        td.nam Gaia Shade 300
        td.hex #17321d
        td.var $ac-color-gaia-shade-300
      tr.ac-sc-gaia-shade-400.ac-sc-gaia-shade-400-ctr
        td.nam Gaia Shade 400
        td.hex #1f4227
        td.var $ac-color-gaia-shade-400
      tr.ac-sc-gaia-shade-500.ac-sc-gaia-shade-500-ctr
        td.nam Gaia Shade 500
        td.hex #265330
        td.var $ac-color-gaia-shade-500
      tr.ac-sc-gaia-tint-100.ac-sc-gaia-tint-100-ctr
        td.nam Gaia Tint 100
        td.hex #517d5b
        td.var $ac-color-gaia-tint-100
      tr.ac-sc-gaia-tint-200.ac-sc-gaia-tint-200-ctr
        td.nam Gaia Tint 200
        td.hex #74977c
        td.var $ac-color-gaia-tint-200
      tr.ac-sc-gaia-tint-300.ac-sc-gaia-tint-300-ctr
        td.nam Gaia Tint 300
        td.hex #97b19d
        td.var $ac-color-gaia-tint-300
      tr.ac-sc-gaia-tint-400.ac-sc-gaia-tint-400-ctr
        td.nam Gaia Tint 400
        td.hex #b9cbbd
        td.var $ac-color-gaia-tint-400
      tr.ac-sc-gaia-tint-500.ac-sc-gaia-tint-500-ctr
        td.nam Gaia Tint 500
        td.hex #dce5de
        td.var $ac-color-gaia-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-wolf.ac-sc-wolf-ctr
        td.nam Wolf
        td.hex #b60000
        td.var $ac-color-wolf
      tr.ac-sc-wolf-shade-100.ac-sc-wolf-shade-100-ctr
        td.nam Wolf Shade 100
        td.hex #1e0000
        td.var $ac-color-wolf-shade-100
      tr.ac-sc-wolf-shade-200.ac-sc-wolf-shade-200-ctr
        td.nam Wolf Shade 200
        td.hex #3d0000
        td.var $ac-color-wolf-shade-200
      tr.ac-sc-wolf-shade-300.ac-sc-wolf-shade-300-ctr
        td.nam Wolf Shade 300
        td.hex #5b0000
        td.var $ac-color-wolf-shade-300
      tr.ac-sc-wolf-shade-400.ac-sc-wolf-shade-400-ctr
        td.nam Wolf Shade 400
        td.hex #790000
        td.var $ac-color-wolf-shade-400
      tr.ac-sc-wolf-shade-500.ac-sc-wolf-shade-500-ctr
        td.nam Wolf Shade 500
        td.hex #980000
        td.var $ac-color-wolf-shade-500
      tr.ac-sc-wolf-tint-100.ac-sc-wolf-tint-100-ctr
        td.nam Wolf Tint 100
        td.hex #c22b2b
        td.var $ac-color-wolf-tint-100
      tr.ac-sc-wolf-tint-200.ac-sc-wolf-tint-200-ctr
        td.nam Wolf Tint 200
        td.hex #ce5555
        td.var $ac-color-wolf-tint-200
      tr.ac-sc-wolf-tint-300.ac-sc-wolf-tint-300-ctr
        td.nam Wolf Tint 300
        td.hex #db8080
        td.var $ac-color-wolf-tint-300
      tr.ac-sc-wolf-tint-400.ac-sc-wolf-tint-400-ctr
        td.nam Wolf Tint 400
        td.hex #e7aaaa
        td.var $ac-color-wolf-tint-400
      tr.ac-sc-wolf-tint-500.ac-sc-wolf-tint-500-ctr
        td.nam Wolf Tint 500
        td.hex #f3d5d5
        td.var $ac-color-wolf-tint-500

      tr: td.spacer(colspan=3)
      tr.ac-sc-moon.ac-sc-moon-ctr
        td.nam Moon
        td.hex #778696
        td.var $ac-color-moon
      tr.ac-sc-moon-shade-100.ac-sc-moon-shade-100-ctr
        td.nam Moon Shade 100
        td.hex #0c0d0f
        td.var $ac-color-moon-shade-100
      tr.ac-sc-moon-shade-200.ac-sc-moon-shade-200-ctr
        td.nam Moon Shade 200
        td.hex #181b1e
        td.var $ac-color-moon-shade-200
      tr.ac-sc-moon-shade-300.ac-sc-moon-shade-300-ctr
        td.nam Moon Shade 300
        td.hex #24282d
        td.var $ac-color-moon-shade-300
      tr.ac-sc-moon-shade-400.ac-sc-moon-shade-400-ctr
        td.nam Moon Shade 400
        td.hex #30363c
        td.var $ac-color-moon-shade-400
      tr.ac-sc-moon-shade-500.ac-sc-moon-shade-500-ctr
        td.nam Moon Shade 500
        td.hex #3c434b
        td.var $ac-color-moon-shade-500
      tr.ac-sc-moon-shade-600.ac-sc-moon-shade-600-ctr
        td.nam Moon Shade 600
        td.hex #47505a
        td.var $ac-color-moon-shade-600
      tr.ac-sc-moon-shade-700.ac-sc-moon-shade-700-ctr
        td.nam Moon Shade 700
        td.hex #535e69
        td.var $ac-color-moon-shade-700
      tr.ac-sc-moon-shade-800.ac-sc-moon-shade-800-ctr
        td.nam Moon Shade 800
        td.hex #5f6b78
        td.var $ac-color-moon-shade-800
      tr.ac-sc-moon-shade-900.ac-sc-moon-shade-900-ctr
        td.nam Moon Shade 900
        td.hex #6b7987
        td.var $ac-color-moon-shade-900
      tr.ac-sc-moon-tint-100.ac-sc-moon-tint-100-ctr
        td.nam Moon Tint 100
        td.hex #8592a1
        td.var $ac-color-moon-tint-100
      tr.ac-sc-moon-tint-200.ac-sc-moon-tint-200-ctr
        td.nam Moon Tint 200
        td.hex #929eab
        td.var $ac-color-moon-tint-200
      tr.ac-sc-moon-tint-300.ac-sc-moon-tint-300-ctr
        td.nam Moon Tint 300
        td.hex #a0aab6
        td.var $ac-color-moon-tint-300
      tr.ac-sc-moon-tint-400.ac-sc-moon-tint-400-ctr
        td.nam Moon Tint 400
        td.hex #adb6c0
        td.var $ac-color-moon-tint-400
      tr.ac-sc-moon-tint-500.ac-sc-moon-tint-500-ctr
        td.nam Moon Tint 500
        td.hex #bbc3cb
        td.var $ac-color-moon-tint-500
      tr.ac-sc-moon-tint-600.ac-sc-moon-tint-600-ctr
        td.nam Moon Tint 600
        td.hex #c9cfd5
        td.var $ac-color-moon-tint-600
      tr.ac-sc-moon-tint-700.ac-sc-moon-tint-700-ctr
        td.nam Moon Tint 700
        td.hex #d6dbe0
        td.var $ac-color-moon-tint-700
      tr.ac-sc-moon-tint-800.ac-sc-moon-tint-800-ctr
        td.nam Moon Tint 800
        td.hex #e4e7ea
        td.var $ac-color-moon-tint-800
      tr.ac-sc-moon-tint-900.ac-sc-moon-tint-900-ctr
        td.nam Moon Tint 900
        td.hex #f1f3f5
        td.var $ac-color-moon-tint-900

