section#forms

  div.pl-mrg-b-md: input.pl-input.sm(placeholder="Your name")
  div.pl-mrg-b-md: input.pl-input(placeholder="Your name")
  div.pl-mrg-b-md: input.pl-input.lg(placeholder="Your name")
  div.pl-mrg-b-md: input.pl-input(type="radio")
  div.pl-mrg-b-md: input.pl-input(type="checkbox")
  div.pl-mrg-b-md: input.pl-input(type="color")
  div.pl-mrg-b-md: input.pl-input(type="file")
  div.pl-mrg-b-md: input.pl-input(type="range")
  div.pl-mrg-b-md: input.pl-input(type="reset")
  div.pl-mrg-b-md: textarea.pl-input.sm
  div.pl-mrg-b-md: textarea.pl-input
  div.pl-mrg-b-md: textarea.pl-input.lg
  div.pl-mrg-b-md: textarea.pl-input.block

  div.pl-mrg-b-md: input(type="submit", value="Submit")

  div.pl-mrg-b-md
    div.pl-checkbox
      input(type="checkbox", id="cb")
      label(for="cb") Some label

  div.pl-mrg-b-md
    div.pl-radio
      input(type="radio", id="cd")
      label(for="cd") Some label

