section#forms
  h2.ac-title Forms and form elements
  div.element-doc
    div.title
      h5 Input elements
    div.about
      p TBD
    div.preview
      div.item: div.ac-mrg-b-md: input.ac-input.sm(placeholder="Your name")
      div.item: div.ac-mrg-b-md: input.ac-input(placeholder="Your name")
      div.item: div.ac-mrg-b-md: input.ac-input.lg(placeholder="Your name")
      div.item: div.ac-mrg-b-md: input.ac-input.block(placeholder="Your name")
      div.item: div.ac-mrg-b-md: input.ac-input(type="color")
      div.item: div.ac-mrg-b-md: input.ac-input(type="file")
      div.item: div.ac-mrg-b-md: input.ac-input(type="range")
      div.item: div.ac-mrg-b-md: input.ac-input.ac-button.warning(type="reset")
      div.item: div.ac-mrg-b-md
        select.ac-input
          option Option 1
          option Option 2
          option Option 3
      div.item: div.ac-mrg-b-md
        select.ac-input.block
          option Option 1
          option Option 2
          option Option 3
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input.sm(placeholder="Your name")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input(placeholder="Your name")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input.lg(placeholder="Your name")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input.block(placeholder="Your name")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input(type="color")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input(type="file")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input(type="range")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-input.ac-button.warning(type="reset")
      code(data-lang="html"): :render-escape
        div.ac-mrg-b-md: input.ac-button(type="submit", value="Submit")
      code(data-lang="html"): :render-escape
        select.ac-input
          option Option 1
          option Option 2
          option Option 3
      code(data-lang="html"): :render-escape
        select.ac-input.block
          option Option 1
          option Option 2
          option Option 3

  div.element-doc
    div.title
      h5 Radio and checkbox
    div.about
      p TBD
    div.preview
      div.item
        input.ac-input(type="checkbox", id="example_int_1")
        label(for="example_int_1") Some label
      div.item
        input.ac-input(type="radio", id="example_int_2")
        label(for="example_int_2") Some label
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        input.ac-input(type="checkbox", id="example_1")
        label(for="example_1") Some label
      code(data-lang="html"): :render-escape
        input.ac-input(type="radio", id="example_2")
        label(for="example_2") Some label

  div.element-doc
    div.title
      h5 Textarea
    div.about
      p TBD
    div.preview
      div.item: textarea.ac-input.sm
      div.item: textarea.ac-input
      div.item: textarea.ac-input.lg
      div.item: textarea.ac-input.block
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        textarea.ac-input.sm
      code(data-lang="html"): :render-escape
        textarea.ac-input
      code(data-lang="html"): :render-escape
        textarea.ac-input.lg
      code(data-lang="html"): :render-escape
        textarea.ac-input.block
