section#navbar
  h2.ac-title Navigation bar

  div.ac-panel.signal-warning
    div.signal-heading This component is not responsive
    div.signal-body.
      This navigation bar is not meant to be displayed on mobile devices and is not responsive.
      Use mobile-specific navigation instead.

  div.element-doc
    div.title
      h5 Basic navigation bar
    div.about
      p TBD
    div.preview
      div.item: nav.ac-navbar
        ul.nav-items
          li: a.nav-item(href="javascript:void(null)") Menu link
          li: button.nav-item Menu button
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        nav.ac-navbar
          ul.nav-items
            li: a.nav-item(href="javascript:void(null)") Menu link
            li: button.nav-item Menu button

  div.element-doc
    div.title
      h5 Sticky navigation bar
    div.about
      p TBD.
    div.preview
      i See navigation bar of this page
    div.code-sample
      h6 HTML
      code(data-lang="html"): pre: :render-escape
        header.ac-navbar-container.sticky
          nav.ac-navbar
            ul.nav-items
              li: a.nav-item.logo(href="#")
                img.ac-only-light(src="#")
                img.ac-only-dark(src="#")
              li.spacer
              li: a.nav-item(href="#") Link 1
              li: a.nav-item(href="#") Link 2
              li: a.nav-item(href="#") Link 3
