section#typography
  h2.pl-title Typography

  h3.pl-title Fonts

  div.font-panel
    div.purpose
      h6 Body font stack
    div.about
      p Used for body text, buttons, inputs.
      p System fonts are used when possible, with fallback to <code>sans-serif</code> and emoji fonts.
    div.font-sample.pl-font-body
      div.pl-word-break-all ABCDEFGHIJKLMNOPQRSTUVWXYZ
      div.pl-word-break-all abcdefghijklmnopqrstuvwxyz
      div.pl-word-break-all 0123456789
    code.font-family
      | font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell,
      | 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';

  div.font-panel
    div.purpose
      h6 Primary title font - Nunito
    div.about Used exclusively for page level heading - <code>h1</code> through <code>h6</code>.
    div.font-sample.pl-font-title-primary
      div.pl-word-break-all ABCDEFGHIJKLMNOPQRSTUVWXYZ
      div.pl-word-break-all abcdefghijklmnopqrstuvwxyz
      div.pl-word-break-all 0123456789
    code.font-family
      | font-family: 'nunito', -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell,
      | 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';

  div.font-panel
    div.purpose
      h6 Monospace font - Source Code Pro
    div.about TBD
    div.font-sample.pl-font-mono
      div.pl-word-break-all ABCDEFGHIJKLMNOPQRSTUVWXYZ
      div.pl-word-break-all abcdefghijklmnopqrstuvwxyz
      div.pl-word-break-all 0123456789
    code.font-family
      | font-family: 'source code pro', consolas, 'courier new', courier, monospace;

  h3.pl-title Headings

  div.font-sample.pl-mrg-b-sm
    h1 H1 The quick brown fox jumps over the lazy dog
    h2 H2 The quick brown fox jumps over the lazy dog
    h3 H3 The quick brown fox jumps over the lazy dog
    h4 H4 The quick brown fox jumps over the lazy dog
    h5 H5 The quick brown fox jumps over the lazy dog
    h6 H6 The quick brown fox jumps over the lazy dog

  div.pl-mrg-b-md
    p
      | Headings allow for
      code .title
      |  modifier to display bottom border for headings.

  h3.pl-title Text copy

  h4 Body copy
  code.pl-panel.pl-mrg-b-sm.block pl-text-body
  div.content.pl-panel.pl-pad-x-md.pl-pad-y-sm
    div
      p: include ../lorem/average.txt
      p: include ../lorem/long.txt
      p: include ../lorem/average.txt

  h4 Micro copy heading
  code.pl-panel.pl-mrg-b-sm.block pl-text-micro heading
  div.content.pl-panel.pl-pad-x-md.pl-pad-y-sm
    div.pl-text-micro.heading: include ../lorem/short.txt

  h4 Micro copy text
  code.pl-panel.pl-mrg-b-sm.block pl-text-micro copy
  div.content.pl-panel.pl-pad-x-md.pl-pad-y-sm
    p.pl-text-micro.copy: include ../lorem/average.txt

