section#typography
  h2.ac-title Typography

  h3.ac-title Fonts

  div.font-panel
    div.purpose
      h6 Body font stack
    div.about
      p Used for body text, buttons, inputs.
      p System fonts are used when possible, with fallback to <code>sans-serif</code> and emoji fonts.
    div.font-sample.ac-font-body
      div.ac-word-break-all ABCDEFGHIJKLMNOPQRSTUVWXYZ
      div.ac-word-break-all abcdefghijklmnopqrstuvwxyz
      div.ac-word-break-all 0123456789
    code.font-family
      | font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell,
      | 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';

  div.font-panel
    div.purpose
      h6 Title font stack
    div.about Used exclusively for page level heading - <code>h1</code> through <code>h6</code>.
    div.font-sample.ac-font-title-primary
      div.ac-word-break-all ABCDEFGHIJKLMNOPQRSTUVWXYZ
      div.ac-word-break-all abcdefghijklmnopqrstuvwxyz
      div.ac-word-break-all 0123456789
    code.font-family
      | font-family: 'SF Pro Text', 'open sans', -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell,
      | 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';

  div.font-panel
    div.purpose
      h6 Monospace font stack
    div.about TBD
    div.font-sample.ac-font-mono
      div.ac-word-break-all ABCDEFGHIJKLMNOPQRSTUVWXYZ
      div.ac-word-break-all abcdefghijklmnopqrstuvwxyz
      div.ac-word-break-all 0123456789
    code.font-family
      | font-family: 'SF Mono', 'source code pro', consolas, 'courier new', courier, monospace;

  h3.ac-title Headings

  div.ac-panel.signal-info
    div.signal-body.
      Headings can use <kbd>.title</kbd> class to display bottom border indicating
      a section break

  div.element-doc
    div.title
      h5 Primary heading: H1
    div.about
      p Font weight: 300
    div.preview
      h1 The quick brown fox jumps over the lazy dog
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        h1 The quick brown fox jumps over the lazy dog

  div.element-doc
    div.title
      h5 Secondary headings: H2, H3
    div.about
      p Font weight: 600
    div.preview
      h2 The quick brown fox jumps over the lazy dog
      h3 The quick brown fox jumps over the lazy dog
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        h2 The quick brown fox jumps over the lazy dog
        h3 The quick brown fox jumps over the lazy dog

  div.element-doc
    div.title
      h5 Tertiary headings: H4, H5, H6
    div.about
      p Font weight: 400
    div.preview
      h3 The quick brown fox jumps over the lazy dog
      h4 The quick brown fox jumps over the lazy dog
      h5 The quick brown fox jumps over the lazy dog
    div.code-sample
      h6 HTML
      code(data-lang="html"): :render-escape
        h3 The quick brown fox jumps over the lazy dog
        h4 The quick brown fox jumps over the lazy dog
        h5 The quick brown fox jumps over the lazy dog

  h3.ac-title Text copy

  h4 Body copy
  code.ac-panel.ac-mrg-b-sm.block ac-text-body
  div.content.ac-panel.ac-pad-x-md.ac-pad-y-sm
    div
      p: include ../lorem/average.txt
      p: include ../lorem/long.txt
      p: include ../lorem/average.txt

  h4 Micro copy heading
  code.ac-panel.ac-mrg-b-sm.block ac-text-micro heading
  div.content.ac-panel.ac-pad-x-md.ac-pad-y-sm
    div.ac-text-micro.heading: include ../lorem/short.txt

  h4 Micro copy text
  code.ac-panel.ac-mrg-b-sm.block ac-text-micro copy
  div.content.ac-panel.ac-pad-x-md.ac-pad-y-sm
    p.ac-text-micro.copy: include ../lorem/average.txt

