html
  head
    title Parkland Design System
    link(href="./app.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500|Nunito:300,400,500,700|Material+Icons&display=swap', rel='stylesheet')
    block stylesheets
  body
    block content
    block scripts
