extends _layout

block title
  | Parkland Design System - Norland Park

block content
  div.pl-panel-container.pl-pad-y-sm
    p This is Parkland - a design system by <a href="https://norlandpark.com">Norland Park</a>.
    p Parkland is under active development and is changing rapidly. It is not ready for production use.
  div.pl-panel-container
    include sections/typography
    include sections/buttons
    include sections/forms
    include sections/colors

