extends _layout

block title
  | Arcadia Design System - Norland Park

block content
  div.ac-panel-container.ac-pad-y-md
    div This is Arcadia - a design system by <a href="https://norlandpark.com">Norland Park</a>.
    div Arcadia is under active development and is changing rapidly. It is not ready for production use.
    div
      a(href="/license.html") License information.
  div.ac-panel-container
    include sections/typography
    include sections/buttons
    include sections/forms
    include sections/panels
    include sections/navbar
    include sections/layouts
    include sections/account
    include sections/pricing
    include sections/colors

