extends _layout

block title
  | License - Arcadia Design System - Norland Park

block content
  div.ac-panel-container.ac-mrg-t-lg
    h2 Licensing information
    div.ac-mrg-b-md
      p Arcadia is licensed using 2 separate licenses - Apache 2.0 license for the code and proprietary license
        |
        | for elements of visual identity contained in this project.
      p In short, you are free to use Arcadia Design System provided you ensure your end product is visually
        |
        | distinct from Norland Park visual identity and can not be mistaken for a Norland Park product.
      p See bellow for full legal disclaimer related to the digital identity content of this project.

    h4 License for media and visual identity
    div.content.ac-panel.ac-pad-x-md.ac-pad-y-sm
      pre.wrap: include ../LICENSE_ART.txt

    h4 Code license
    div.content.ac-panel.ac-pad-x-md.ac-pad-y-sm
      pre.wrap: include ../LICENSE_CODE.txt
