extends _layout

block title
  | License - Parkland Design System - Norland Park

block content
  div.pl-panel-container.pl-mrg-t-lg
    h2 Licensing information
    div.pl-mrg-b-md
      p Parkland is licensed using 2 separate licenses - Apache 2.0 license for the code and proprietary license
        |
        | for elements of visual identity contained in this project.
      p In short, you are free to use Parkland Design System provided you ensure your end product is visually
        |
        | distinct from Norland Park visual identity and can not be mistaken for a Norland Park product.
      p See bellow for full legal disclaimer related to the digital identity content of this project.

    h4 License for media and visual identity
    div.content.pl-panel.pl-pad-x-md.pl-pad-y-sm
      pre.wrap: include ../LICENSE_ART.txt

    h4 Code license
    div.content.pl-panel.pl-pad-x-md.pl-pad-y-sm
      pre.wrap: include ../LICENSE_CODE.txt
