@import "../../../src/scss/properties";
@import "../../../src/scss/colors";

section#colors {
  table.color-table {
    & > thead {
      & > tr {
        & > th {
          padding: $pl-spacing-xs $pl-spacing-sm;
          text-align: left;
        }
      }
    }

    & > tbody {
      & > tr {
        & > td {
          padding: $pl-spacing-xs $pl-spacing-sm;

          &.hex, &.var {
            user-select: all;
          }

          &.desc {
            background: $pl-color-body-light-bg-panel-secondary;
            border: 1px solid $pl-color-body-light-bg-panel-secondary-border;
            color: $pl-color-body-light-text-fg;
          }

          &.spacer {
            padding-top: $pl-spacing-md;
          }
        }
      }
    }
  }
}

.pl-color-body-light-text-bg {
  background: $pl-color-body-light-text-bg;
}

.pl-color-body-light-text-bg-ctr {
  color: #444444;
}

.pl-color-body-light-text-fg {
  background: $pl-color-body-light-text-fg;
}

.pl-color-body-light-text-fg-ctr {
  color: #444444;
}

.pl-color-body-light-heading-text-fg {
  background: $pl-color-body-light-heading-text-fg;
}

.pl-color-body-light-heading-text-fg-ctr {
  color: #444444;
}

.pl-color-body-light-bg-panel-primary {
  background: $pl-color-body-light-bg-panel-primary;
}

.pl-color-body-light-bg-panel-primary-ctr {
  color: #444444;
}

.pl-color-body-light-bg-panel-primary-border {
  background: $pl-color-body-light-bg-panel-primary-border;
}

.pl-color-body-light-bg-panel-primary-border-ctr {
  color: #444444;
}

.pl-color-body-light-bg-panel-secondary {
  background: $pl-color-body-light-bg-panel-secondary;
}

.pl-color-body-light-bg-panel-secondary-ctr {
  color: #444444;
}

.pl-color-body-light-bg-panel-secondary-border {
  background: $pl-color-body-light-bg-panel-secondary-border;
}

.pl-color-body-light-bg-panel-secondary-border-ctr {
  color: #444444;
}

.pl-color-body-light-bg-panel-tertiary {
  background: $pl-color-body-light-bg-panel-tertiary;
}

.pl-color-body-light-bg-panel-tertiary-ctr {
  color: #444444;
}

.pl-color-body-light-bg-panel-tertiary-border {
  background: $pl-color-body-light-bg-panel-tertiary-border;
}

.pl-color-body-light-bg-panel-tertiary-border-ctr {
  color: #444444;
}

.pl-color-body-dark-text-bg {
  background: $pl-color-body-dark-text-bg;
}

.pl-color-body-dark-text-bg-ctr {
  color: #444444;
}

.pl-color-body-dark-text-fg {
  background: $pl-color-body-dark-text-fg;
}

.pl-color-body-dark-text-fg-ctr {
  color: #444444;
}

.pl-color-body-dark-heading-text-fg {
  background: $pl-color-body-dark-heading-text-fg;
}

.pl-color-body-dark-heading-text-fg-ctr {
  color: #444444;
}

.pl-color-body-dark-bg-panel-primary {
  background: $pl-color-body-dark-bg-panel-primary;
}

.pl-color-body-dark-bg-panel-primary-ctr {
  color: #ffffff;
}

.pl-color-body-dark-bg-panel-primary-border {
  background: $pl-color-body-dark-bg-panel-primary-border;
}

.pl-color-body-dark-bg-panel-primary-border-ctr {
  color: #ffffff;
}

.pl-color-body-dark-bg-panel-secondary {
  background: $pl-color-body-dark-bg-panel-secondary;
}

.pl-color-body-dark-bg-panel-secondary-ctr {
  color: #ffffff;
}

.pl-color-body-dark-bg-panel-secondary-border {
  background: $pl-color-body-dark-bg-panel-secondary-border;
}

.pl-color-body-dark-bg-panel-secondary-border-ctr {
  color: #ffffff;
}

.pl-color-body-dark-bg-panel-tertiary {
  background: $pl-color-body-dark-bg-panel-tertiary;
}

.pl-color-body-dark-bg-panel-tertiary-ctr {
  color: #ffffff;
}

.pl-color-body-dark-bg-panel-tertiary-border {
  background: $pl-color-body-dark-bg-panel-tertiary-border;
}

.pl-color-body-dark-bg-panel-tertiary-border-ctr {
  color: #ffffff;
}

// Brand colors
.pl-sc-brand-crimson {
  background: $pl-color-brand-crimson;
}

.pl-sc-brand-crimson-ctr {
  color: #ffffff;
}

.pl-sc-brand-cornflower {
  background: $pl-color-brand-cornflower;
}

.pl-sc-brand-cornflower-ctr {
  color: #ffffff;
}

.pl-sc-brand-tangerine {
  background: $pl-color-brand-tangerine;
}

.pl-sc-brand-tangerine-ctr {
  color: #ffffff;
}

// Brand scheme colors //
.pl-sc-crimson {
  background: $pl-color-crimson;
}

.pl-sc-crimson-ctr {
  color: $pl-color-crimson-ctr;
}

.pl-sc-crimson-shade-100 {
  background: $pl-color-crimson-shade-100;
}

.pl-sc-crimson-shade-100-ctr {
  color: $pl-color-crimson-shade-100-ctr;
}

.pl-sc-crimson-shade-200 {
  background: $pl-color-crimson-shade-200;
}

.pl-sc-crimson-shade-200-ctr {
  color: $pl-color-crimson-shade-200-ctr;
}

.pl-sc-crimson-shade-300 {
  background: $pl-color-crimson-shade-300;
}

.pl-sc-crimson-shade-300-ctr {
  color: $pl-color-crimson-shade-300-ctr;
}

.pl-sc-crimson-shade-400 {
  background: $pl-color-crimson-shade-400;
}

.pl-sc-crimson-shade-400-ctr {
  color: $pl-color-crimson-shade-400-ctr;
}

.pl-sc-crimson-shade-500 {
  background: $pl-color-crimson-shade-500;
}

.pl-sc-crimson-shade-500-ctr {
  color: $pl-color-crimson-shade-500-ctr;
}

.pl-sc-crimson-tint-100 {
  background: $pl-color-crimson-tint-100;
}

.pl-sc-crimson-tint-100-ctr {
  color: $pl-color-crimson-tint-100-ctr;
}

.pl-sc-crimson-tint-200 {
  background: $pl-color-crimson-tint-200;
}

.pl-sc-crimson-tint-200-ctr {
  color: $pl-color-crimson-tint-200-ctr;
}

.pl-sc-crimson-tint-300 {
  background: $pl-color-crimson-tint-300;
}

.pl-sc-crimson-tint-300-ctr {
  color: $pl-color-crimson-tint-300-ctr;
}

.pl-sc-crimson-tint-400 {
  background: $pl-color-crimson-tint-400;
}

.pl-sc-crimson-tint-400-ctr {
  color: $pl-color-crimson-tint-400-ctr;
}

.pl-sc-crimson-tint-500 {
  background: $pl-color-crimson-tint-500;
}

.pl-sc-crimson-tint-500-ctr {
  color: $pl-color-crimson-tint-500-ctr;
}

.pl-sc-cornflower {
  background: $pl-color-cornflower;
}

.pl-sc-cornflower-ctr {
  color: $pl-color-cornflower-ctr;
}

.pl-sc-cornflower-shade-100 {
  background: $pl-color-cornflower-shade-100;
}

.pl-sc-cornflower-shade-100-ctr {
  color: $pl-color-cornflower-shade-100-ctr;
}

.pl-sc-cornflower-shade-200 {
  background: $pl-color-cornflower-shade-200;
}

.pl-sc-cornflower-shade-200-ctr {
  color: $pl-color-cornflower-shade-200-ctr;
}

.pl-sc-cornflower-shade-300 {
  background: $pl-color-cornflower-shade-300;
}

.pl-sc-cornflower-shade-300-ctr {
  color: $pl-color-cornflower-shade-300-ctr;
}

.pl-sc-cornflower-shade-400 {
  background: $pl-color-cornflower-shade-400;
}

.pl-sc-cornflower-shade-400-ctr {
  color: $pl-color-cornflower-shade-400-ctr;
}

.pl-sc-cornflower-shade-500 {
  background: $pl-color-cornflower-shade-500;
}

.pl-sc-cornflower-shade-500-ctr {
  color: $pl-color-cornflower-shade-500-ctr;
}

.pl-sc-cornflower-tint-100 {
  background: $pl-color-cornflower-tint-100;
}

.pl-sc-cornflower-tint-100-ctr {
  color: $pl-color-cornflower-tint-100-ctr;
}

.pl-sc-cornflower-tint-200 {
  background: $pl-color-cornflower-tint-200;
}

.pl-sc-cornflower-tint-200-ctr {
  color: $pl-color-cornflower-tint-200-ctr;
}

.pl-sc-cornflower-tint-300 {
  background: $pl-color-cornflower-tint-300;
}

.pl-sc-cornflower-tint-300-ctr {
  color: $pl-color-cornflower-tint-300-ctr;
}

.pl-sc-cornflower-tint-400 {
  background: $pl-color-cornflower-tint-400;
}

.pl-sc-cornflower-tint-400-ctr {
  color: $pl-color-cornflower-tint-400-ctr;
}

.pl-sc-cornflower-tint-500 {
  background: $pl-color-cornflower-tint-500;
}

.pl-sc-cornflower-tint-500-ctr {
  color: $pl-color-cornflower-tint-500-ctr;
}

.pl-sc-tangerine {
  background: $pl-color-tangerine;
}

.pl-sc-tangerine-ctr {
  color: $pl-color-tangerine-ctr;
}

.pl-sc-tangerine-shade-100 {
  background: $pl-color-tangerine-shade-100;
}

.pl-sc-tangerine-shade-100-ctr {
  color: $pl-color-tangerine-shade-100-ctr;
}

.pl-sc-tangerine-shade-200 {
  background: $pl-color-tangerine-shade-200;
}

.pl-sc-tangerine-shade-200-ctr {
  color: $pl-color-tangerine-shade-200-ctr;
}

.pl-sc-tangerine-shade-300 {
  background: $pl-color-tangerine-shade-300;
}

.pl-sc-tangerine-shade-300-ctr {
  color: $pl-color-tangerine-shade-300-ctr;
}

.pl-sc-tangerine-shade-400 {
  background: $pl-color-tangerine-shade-400;
}

.pl-sc-tangerine-shade-400-ctr {
  color: $pl-color-tangerine-shade-400-ctr;
}

.pl-sc-tangerine-shade-500 {
  background: $pl-color-tangerine-shade-500;
}

.pl-sc-tangerine-shade-500-ctr {
  color: $pl-color-tangerine-shade-500-ctr;
}

.pl-sc-tangerine-tint-100 {
  background: $pl-color-tangerine-tint-100;
}

.pl-sc-tangerine-tint-100-ctr {
  color: $pl-color-tangerine-tint-100-ctr;
}

.pl-sc-tangerine-tint-200 {
  background: $pl-color-tangerine-tint-200;
}

.pl-sc-tangerine-tint-200-ctr {
  color: $pl-color-tangerine-tint-200-ctr;
}

.pl-sc-tangerine-tint-300 {
  background: $pl-color-tangerine-tint-300;
}

.pl-sc-tangerine-tint-300-ctr {
  color: $pl-color-tangerine-tint-300-ctr;
}

.pl-sc-tangerine-tint-400 {
  background: $pl-color-tangerine-tint-400;
}

.pl-sc-tangerine-tint-400-ctr {
  color: $pl-color-tangerine-tint-400-ctr;
}

.pl-sc-tangerine-tint-500 {
  background: $pl-color-tangerine-tint-500;
}

.pl-sc-tangerine-tint-500-ctr {
  color: $pl-color-tangerine-tint-500-ctr;
}

// Scheme colors //
.pl-sc-neptune {
  background: $pl-color-neptune;
}

.pl-sc-neptune-ctr {
  color: $pl-color-neptune-ctr;
}

.pl-sc-neptune-shade-100 {
  background: $pl-color-neptune-shade-100;
}

.pl-sc-neptune-shade-100-ctr {
  color: $pl-color-neptune-shade-100-ctr;
}

.pl-sc-neptune-shade-200 {
  background: $pl-color-neptune-shade-200;
}

.pl-sc-neptune-shade-200-ctr {
  color: $pl-color-neptune-shade-200-ctr;
}

.pl-sc-neptune-shade-300 {
  background: $pl-color-neptune-shade-300;
}

.pl-sc-neptune-shade-300-ctr {
  color: $pl-color-neptune-shade-300-ctr;
}

.pl-sc-neptune-shade-400 {
  background: $pl-color-neptune-shade-400;
}

.pl-sc-neptune-shade-400-ctr {
  color: $pl-color-neptune-shade-400-ctr;
}

.pl-sc-neptune-shade-500 {
  background: $pl-color-neptune-shade-500;
}

.pl-sc-neptune-shade-500-ctr {
  color: $pl-color-neptune-shade-500-ctr;
}

.pl-sc-neptune-tint-100 {
  background: $pl-color-neptune-tint-100;
}

.pl-sc-neptune-tint-100-ctr {
  color: $pl-color-neptune-tint-100-ctr;
}

.pl-sc-neptune-tint-200 {
  background: $pl-color-neptune-tint-200;
}

.pl-sc-neptune-tint-200-ctr {
  color: $pl-color-neptune-tint-200-ctr;
}

.pl-sc-neptune-tint-300 {
  background: $pl-color-neptune-tint-300;
}

.pl-sc-neptune-tint-300-ctr {
  color: $pl-color-neptune-tint-300-ctr;
}

.pl-sc-neptune-tint-400 {
  background: $pl-color-neptune-tint-400;
}

.pl-sc-neptune-tint-400-ctr {
  color: $pl-color-neptune-tint-400-ctr;
}

.pl-sc-neptune-tint-500 {
  background: $pl-color-neptune-tint-500;
}

.pl-sc-neptune-tint-500-ctr {
  color: $pl-color-neptune-tint-500-ctr;
}

.pl-sc-fjord {
  background: $pl-color-fjord;
}

.pl-sc-fjord-ctr {
  color: $pl-color-fjord-ctr;
}

.pl-sc-fjord-shade-100 {
  background: $pl-color-fjord-shade-100;
}

.pl-sc-fjord-shade-100-ctr {
  color: $pl-color-fjord-shade-100-ctr;
}

.pl-sc-fjord-shade-200 {
  background: $pl-color-fjord-shade-200;
}

.pl-sc-fjord-shade-200-ctr {
  color: $pl-color-fjord-shade-200-ctr;
}

.pl-sc-fjord-shade-300 {
  background: $pl-color-fjord-shade-300;
}

.pl-sc-fjord-shade-300-ctr {
  color: $pl-color-fjord-shade-300-ctr;
}

.pl-sc-fjord-shade-400 {
  background: $pl-color-fjord-shade-400;
}

.pl-sc-fjord-shade-400-ctr {
  color: $pl-color-fjord-shade-400-ctr;
}

.pl-sc-fjord-shade-500 {
  background: $pl-color-fjord-shade-500;
}

.pl-sc-fjord-shade-500-ctr {
  color: $pl-color-fjord-shade-500-ctr;
}

.pl-sc-fjord-tint-100 {
  background: $pl-color-fjord-tint-100;
}

.pl-sc-fjord-tint-100-ctr {
  color: $pl-color-fjord-tint-100-ctr;
}

.pl-sc-fjord-tint-200 {
  background: $pl-color-fjord-tint-200;
}

.pl-sc-fjord-tint-200-ctr {
  color: $pl-color-fjord-tint-200-ctr;
}

.pl-sc-fjord-tint-300 {
  background: $pl-color-fjord-tint-300;
}

.pl-sc-fjord-tint-300-ctr {
  color: $pl-color-fjord-tint-300-ctr;
}

.pl-sc-fjord-tint-400 {
  background: $pl-color-fjord-tint-400;
}

.pl-sc-fjord-tint-400-ctr {
  color: $pl-color-fjord-tint-400-ctr;
}

.pl-sc-fjord-tint-500 {
  background: $pl-color-fjord-tint-500;
}

.pl-sc-fjord-tint-500-ctr {
  color: $pl-color-fjord-tint-500-ctr;
}

.pl-sc-eve {
  background: $pl-color-eve;
}

.pl-sc-eve-ctr {
  color: $pl-color-eve-ctr;
}

.pl-sc-eve-shade-100 {
  background: $pl-color-eve-shade-100;
}

.pl-sc-eve-shade-100-ctr {
  color: $pl-color-eve-shade-100-ctr;
}

.pl-sc-eve-shade-200 {
  background: $pl-color-eve-shade-200;
}

.pl-sc-eve-shade-200-ctr {
  color: $pl-color-eve-shade-200-ctr;
}

.pl-sc-eve-shade-300 {
  background: $pl-color-eve-shade-300;
}

.pl-sc-eve-shade-300-ctr {
  color: $pl-color-eve-shade-300-ctr;
}

.pl-sc-eve-shade-400 {
  background: $pl-color-eve-shade-400;
}

.pl-sc-eve-shade-400-ctr {
  color: $pl-color-eve-shade-400-ctr;
}

.pl-sc-eve-shade-500 {
  background: $pl-color-eve-shade-500;
}

.pl-sc-eve-shade-500-ctr {
  color: $pl-color-eve-shade-500-ctr;
}

.pl-sc-eve-tint-100 {
  background: $pl-color-eve-tint-100;
}

.pl-sc-eve-tint-100-ctr {
  color: $pl-color-eve-tint-100-ctr;
}

.pl-sc-eve-tint-200 {
  background: $pl-color-eve-tint-200;
}

.pl-sc-eve-tint-200-ctr {
  color: $pl-color-eve-tint-200-ctr;
}

.pl-sc-eve-tint-300 {
  background: $pl-color-eve-tint-300;
}

.pl-sc-eve-tint-300-ctr {
  color: $pl-color-eve-tint-300-ctr;
}

.pl-sc-eve-tint-400 {
  background: $pl-color-eve-tint-400;
}

.pl-sc-eve-tint-400-ctr {
  color: $pl-color-eve-tint-400-ctr;
}

.pl-sc-eve-tint-500 {
  background: $pl-color-eve-tint-500;
}

.pl-sc-eve-tint-500-ctr {
  color: $pl-color-eve-tint-500-ctr;
}

.pl-sc-apricot {
  background: $pl-color-apricot;
}

.pl-sc-apricot-ctr {
  color: $pl-color-apricot-ctr;
}

.pl-sc-apricot-shade-100 {
  background: $pl-color-apricot-shade-100;
}

.pl-sc-apricot-shade-100-ctr {
  color: $pl-color-apricot-shade-100-ctr;
}

.pl-sc-apricot-shade-200 {
  background: $pl-color-apricot-shade-200;
}

.pl-sc-apricot-shade-200-ctr {
  color: $pl-color-apricot-shade-200-ctr;
}

.pl-sc-apricot-shade-300 {
  background: $pl-color-apricot-shade-300;
}

.pl-sc-apricot-shade-300-ctr {
  color: $pl-color-apricot-shade-300-ctr;
}

.pl-sc-apricot-shade-400 {
  background: $pl-color-apricot-shade-400;
}

.pl-sc-apricot-shade-400-ctr {
  color: $pl-color-apricot-shade-400-ctr;
}

.pl-sc-apricot-shade-500 {
  background: $pl-color-apricot-shade-500;
}

.pl-sc-apricot-shade-500-ctr {
  color: $pl-color-apricot-shade-500-ctr;
}

.pl-sc-apricot-tint-100 {
  background: $pl-color-apricot-tint-100;
}

.pl-sc-apricot-tint-100-ctr {
  color: $pl-color-apricot-tint-100-ctr;
}

.pl-sc-apricot-tint-200 {
  background: $pl-color-apricot-tint-200;
}

.pl-sc-apricot-tint-200-ctr {
  color: $pl-color-apricot-tint-200-ctr;
}

.pl-sc-apricot-tint-300 {
  background: $pl-color-apricot-tint-300;
}

.pl-sc-apricot-tint-300-ctr {
  color: $pl-color-apricot-tint-300-ctr;
}

.pl-sc-apricot-tint-400 {
  background: $pl-color-apricot-tint-400;
}

.pl-sc-apricot-tint-400-ctr {
  color: $pl-color-apricot-tint-400-ctr;
}

.pl-sc-apricot-tint-500 {
  background: $pl-color-apricot-tint-500;
}

.pl-sc-apricot-tint-500-ctr {
  color: $pl-color-apricot-tint-500-ctr;
}

.pl-sc-sunset {
  background: $pl-color-sunset;
}

.pl-sc-sunset-ctr {
  color: $pl-color-sunset-ctr;
}

.pl-sc-sunset-shade-100 {
  background: $pl-color-sunset-shade-100;
}

.pl-sc-sunset-shade-100-ctr {
  color: $pl-color-sunset-shade-100-ctr;
}

.pl-sc-sunset-shade-200 {
  background: $pl-color-sunset-shade-200;
}

.pl-sc-sunset-shade-200-ctr {
  color: $pl-color-sunset-shade-200-ctr;
}

.pl-sc-sunset-shade-300 {
  background: $pl-color-sunset-shade-300;
}

.pl-sc-sunset-shade-300-ctr {
  color: $pl-color-sunset-shade-300-ctr;
}

.pl-sc-sunset-shade-400 {
  background: $pl-color-sunset-shade-400;
}

.pl-sc-sunset-shade-400-ctr {
  color: $pl-color-sunset-shade-400-ctr;
}

.pl-sc-sunset-shade-500 {
  background: $pl-color-sunset-shade-500;
}

.pl-sc-sunset-shade-500-ctr {
  color: $pl-color-sunset-shade-500-ctr;
}

.pl-sc-sunset-tint-100 {
  background: $pl-color-sunset-tint-100;
}

.pl-sc-sunset-tint-100-ctr {
  color: $pl-color-sunset-tint-100-ctr;
}

.pl-sc-sunset-tint-200 {
  background: $pl-color-sunset-tint-200;
}

.pl-sc-sunset-tint-200-ctr {
  color: $pl-color-sunset-tint-200-ctr;
}

.pl-sc-sunset-tint-300 {
  background: $pl-color-sunset-tint-300;
}

.pl-sc-sunset-tint-300-ctr {
  color: $pl-color-sunset-tint-300-ctr;
}

.pl-sc-sunset-tint-400 {
  background: $pl-color-sunset-tint-400;
}

.pl-sc-sunset-tint-400-ctr {
  color: $pl-color-sunset-tint-400-ctr;
}

.pl-sc-sunset-tint-500 {
  background: $pl-color-sunset-tint-500;
}

.pl-sc-sunset-tint-500-ctr {
  color: $pl-color-sunset-tint-500-ctr;
}

.pl-sc-gaia {
  background: $pl-color-gaia;
}

.pl-sc-gaia-ctr {
  color: $pl-color-gaia-ctr;
}

.pl-sc-gaia-shade-100 {
  background: $pl-color-gaia-shade-100;
}

.pl-sc-gaia-shade-100-ctr {
  color: $pl-color-gaia-shade-100-ctr;
}

.pl-sc-gaia-shade-200 {
  background: $pl-color-gaia-shade-200;
}

.pl-sc-gaia-shade-200-ctr {
  color: $pl-color-gaia-shade-200-ctr;
}

.pl-sc-gaia-shade-300 {
  background: $pl-color-gaia-shade-300;
}

.pl-sc-gaia-shade-300-ctr {
  color: $pl-color-gaia-shade-300-ctr;
}

.pl-sc-gaia-shade-400 {
  background: $pl-color-gaia-shade-400;
}

.pl-sc-gaia-shade-400-ctr {
  color: $pl-color-gaia-shade-400-ctr;
}

.pl-sc-gaia-shade-500 {
  background: $pl-color-gaia-shade-500;
}

.pl-sc-gaia-shade-500-ctr {
  color: $pl-color-gaia-shade-500-ctr;
}

.pl-sc-gaia-tint-100 {
  background: $pl-color-gaia-tint-100;
}

.pl-sc-gaia-tint-100-ctr {
  color: $pl-color-gaia-tint-100-ctr;
}

.pl-sc-gaia-tint-200 {
  background: $pl-color-gaia-tint-200;
}

.pl-sc-gaia-tint-200-ctr {
  color: $pl-color-gaia-tint-200-ctr;
}

.pl-sc-gaia-tint-300 {
  background: $pl-color-gaia-tint-300;
}

.pl-sc-gaia-tint-300-ctr {
  color: $pl-color-gaia-tint-300-ctr;
}

.pl-sc-gaia-tint-400 {
  background: $pl-color-gaia-tint-400;
}

.pl-sc-gaia-tint-400-ctr {
  color: $pl-color-gaia-tint-400-ctr;
}

.pl-sc-gaia-tint-500 {
  background: $pl-color-gaia-tint-500;
}

.pl-sc-gaia-tint-500-ctr {
  color: $pl-color-gaia-tint-500-ctr;
}

.pl-sc-wolf {
  background: $pl-color-wolf;
}

.pl-sc-wolf-ctr {
  color: $pl-color-wolf-ctr;
}

.pl-sc-wolf-shade-100 {
  background: $pl-color-wolf-shade-100;
}

.pl-sc-wolf-shade-100-ctr {
  color: $pl-color-wolf-shade-100-ctr;
}

.pl-sc-wolf-shade-200 {
  background: $pl-color-wolf-shade-200;
}

.pl-sc-wolf-shade-200-ctr {
  color: $pl-color-wolf-shade-200-ctr;
}

.pl-sc-wolf-shade-300 {
  background: $pl-color-wolf-shade-300;
}

.pl-sc-wolf-shade-300-ctr {
  color: $pl-color-wolf-shade-300-ctr;
}

.pl-sc-wolf-shade-400 {
  background: $pl-color-wolf-shade-400;
}

.pl-sc-wolf-shade-400-ctr {
  color: $pl-color-wolf-shade-400-ctr;
}

.pl-sc-wolf-shade-500 {
  background: $pl-color-wolf-shade-500;
}

.pl-sc-wolf-shade-500-ctr {
  color: $pl-color-wolf-shade-500-ctr;
}

.pl-sc-wolf-tint-100 {
  background: $pl-color-wolf-tint-100;
}

.pl-sc-wolf-tint-100-ctr {
  color: $pl-color-wolf-tint-100-ctr;
}

.pl-sc-wolf-tint-200 {
  background: $pl-color-wolf-tint-200;
}

.pl-sc-wolf-tint-200-ctr {
  color: $pl-color-wolf-tint-200-ctr;
}

.pl-sc-wolf-tint-300 {
  background: $pl-color-wolf-tint-300;
}

.pl-sc-wolf-tint-300-ctr {
  color: $pl-color-wolf-tint-300-ctr;
}

.pl-sc-wolf-tint-400 {
  background: $pl-color-wolf-tint-400;
}

.pl-sc-wolf-tint-400-ctr {
  color: $pl-color-wolf-tint-400-ctr;
}

.pl-sc-wolf-tint-500 {
  background: $pl-color-wolf-tint-500;
}

.pl-sc-wolf-tint-500-ctr {
  color: $pl-color-wolf-tint-500-ctr;
}

// Shading color //
.pl-sc-moon {
  background: $pl-color-moon;
}

.pl-sc-moon-ctr {
  color: $pl-color-moon-ctr;
}

.pl-sc-moon-shade-100 {
  background: $pl-color-moon-shade-100;
}

.pl-sc-moon-shade-100-ctr {
  color: $pl-color-moon-shade-100-ctr;
}

.pl-sc-moon-shade-200 {
  background: $pl-color-moon-shade-200;
}

.pl-sc-moon-shade-200-ctr {
  color: $pl-color-moon-shade-200-ctr;
}

.pl-sc-moon-shade-300 {
  background: $pl-color-moon-shade-300;
}

.pl-sc-moon-shade-300-ctr {
  color: $pl-color-moon-shade-300-ctr;
}

.pl-sc-moon-shade-400 {
  background: $pl-color-moon-shade-400;
}

.pl-sc-moon-shade-400-ctr {
  color: $pl-color-moon-shade-400-ctr;
}

.pl-sc-moon-shade-500 {
  background: $pl-color-moon-shade-500;
}

.pl-sc-moon-shade-500-ctr {
  color: $pl-color-moon-shade-500-ctr;
}

.pl-sc-moon-shade-600 {
  background: $pl-color-moon-shade-600;
}

.pl-sc-moon-shade-600-ctr {
  color: $pl-color-moon-shade-600-ctr;
}

.pl-sc-moon-shade-700 {
  background: $pl-color-moon-shade-700;
}

.pl-sc-moon-shade-700-ctr {
  color: $pl-color-moon-shade-700-ctr;
}

.pl-sc-moon-shade-800 {
  background: $pl-color-moon-shade-800;
}

.pl-sc-moon-shade-800-ctr {
  color: $pl-color-moon-shade-800-ctr;
}

.pl-sc-moon-shade-900 {
  background: $pl-color-moon-shade-900;
}

.pl-sc-moon-shade-900-ctr {
  color: $pl-color-moon-shade-900-ctr;
}

.pl-sc-moon-tint-100 {
  background: $pl-color-moon-tint-100;
}

.pl-sc-moon-tint-100-ctr {
  color: $pl-color-moon-tint-100-ctr;
}

.pl-sc-moon-tint-200 {
  background: $pl-color-moon-tint-200;
}

.pl-sc-moon-tint-200-ctr {
  color: $pl-color-moon-tint-200-ctr;
}

.pl-sc-moon-tint-300 {
  background: $pl-color-moon-tint-300;
}

.pl-sc-moon-tint-300-ctr {
  color: $pl-color-moon-tint-300-ctr;
}

.pl-sc-moon-tint-400 {
  background: $pl-color-moon-tint-400;
}

.pl-sc-moon-tint-400-ctr {
  color: $pl-color-moon-tint-400-ctr;
}

.pl-sc-moon-tint-500 {
  background: $pl-color-moon-tint-500;
}

.pl-sc-moon-tint-500-ctr {
  color: $pl-color-moon-tint-500-ctr;
}

.pl-sc-moon-tint-600 {
  background: $pl-color-moon-tint-600;
}

.pl-sc-moon-tint-600-ctr {
  color: $pl-color-moon-tint-600-ctr;
}

.pl-sc-moon-tint-700 {
  background: $pl-color-moon-tint-700;
}

.pl-sc-moon-tint-700-ctr {
  color: $pl-color-moon-tint-700-ctr;
}

.pl-sc-moon-tint-800 {
  background: $pl-color-moon-tint-800;
}

.pl-sc-moon-tint-800-ctr {
  color: $pl-color-moon-tint-800-ctr;
}

.pl-sc-moon-tint-900 {
  background: $pl-color-moon-tint-900;
}

.pl-sc-moon-tint-900-ctr {
  color: $pl-color-moon-tint-900-ctr;
}
