@import "../../src/scss/index";

@include pl-main;

@import "sections/typography";
@import "sections/colors";

.CodeMirror {
  height: auto;
  font-size: 14px;
  display: inline-flex;
  font-family: $pl-font-family-mono;
  background: transparent !important;
}

div.pl-panel-container {
  & > section {
    margin-bottom: $pl-spacing-xl;
  }
}
