@import "../../src/scss/index";
@import "../../src/scss/properties";
@import "../../src/scss/colors";
@import "../../src/scss/mixins";

@include ac-main;

@import "sections/typography";
@import "sections/colors";

a.nav-item.logo > svg {
  height: 20px;
}

a.nav-item.github, button.nav-item.theme {
  padding-left: $ac-spacing-sm !important;
  padding-right: $ac-spacing-sm !important;

  span {
    height: 16px;
  }

  svg {
    height: 16px;
    margin-right: $ac-spacing-xs;
  }
}

div.ac-panel-container {
  & > section {
    margin-bottom: $ac-spacing-xl;
  }
}

div.element-doc {
  @include ac-mrg-y($ac-spacing-md);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-top: 0;
  }

  border: 1px solid $ac-color-body-light-bg-panel-primary-border;

  @include ac-mode-dark {
    border: 1px solid $ac-color-body-dark-bg-panel-primary-border;
  }

  & > div.title {
    @include ac-pad-xy($ac-spacing-sm, $ac-spacing-xs);

    border-bottom: 1px solid $ac-color-body-light-bg-panel-primary-border;
    background: $ac-color-body-light-bg-panel-primary;

    @include ac-mode-dark {
      border-bottom: 1px solid $ac-color-body-dark-bg-panel-primary-border;
      background: $ac-color-body-dark-bg-panel-primary;
    }

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      @include ac-mrg-xy(0, 0);
    }
  }

  & > div.preview {
    position: relative;
    border-bottom: 1px solid $ac-color-body-light-bg-panel-tertiary-border;

    &:not(.slim) {
      @include ac-pad-xy($ac-spacing-sm, $ac-spacing-md);
    }

    & > div.item:not(:last-child) {
      margin-bottom: $ac-spacing-sm;
    }

    @include ac-mode-dark {
      border-bottom: 1px solid $ac-color-body-dark-bg-panel-tertiary-border;
    }
  }

  & > div.about {
    @include ac-pad-xy($ac-spacing-sm, $ac-spacing-sm);

    border-bottom: 1px solid $ac-color-body-light-bg-panel-primary-border;
    background: $ac-color-body-light-bg-panel-primary;

    @include ac-mode-dark {
      border-bottom: 1px solid $ac-color-body-dark-bg-panel-primary-border;
      background: $ac-color-body-dark-bg-panel-primary;
    }
  }

  & > div.code-sample {
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      font-weight: 500;
      @include ac-mrg-xy(0, 0);
      @include ac-pad-xy($ac-spacing-sm, $ac-spacing-xxs);

      border-bottom: 1px dotted $ac-color-body-light-bg-panel-tertiary-border;
      background: $ac-color-body-light-bg-panel-tertiary;

      @include ac-mode-dark {
        border-bottom: 1px dotted $ac-color-body-dark-bg-panel-tertiary-border;
        background: $ac-color-body-dark-bg-panel-tertiary;
      }
    }

    & > code {
      display: block;
      user-select: all;
      @include ac-pad-xy($ac-spacing-sm, $ac-spacing-sm);

      &:not(:last-child) {
        border-bottom: 1px dotted $ac-color-body-light-bg-panel-primary-border;

        @include ac-mode-dark {
          border-bottom: 1px dotted $ac-color-body-dark-bg-panel-primary-border;
        }
      }
    }
  }
}
