body, html {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  box-sizing: border-box; }
  body.pl-mode-light, html.pl-mode-light {
    background: #ffffff;
    color: #333333; }
  body.pl-mode-dark, html.pl-mode-dark {
    background: #333333;
    color: #fefefe; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
    font-size: 0.8em; }

h1 {
  font-size: 2.986em; }

h2 {
  font-size: 2.488em; }

h3 {
  font-size: 2.074em; }

h4 {
  font-size: 1.728em; }

h5 {
  font-size: 1.44em; }

h6 {
  font-size: 1.2em; }

/**
    TODO:
      - Button sizing
      - Temporarily disabled buttons (loading)
   */
button.pl-button, a.pl-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  text-decoration: none;
  background: #bbc3cb;
  color: #000000;
  border: 1px solid transparent;
  transition: background-color 120ms linear, outline-offset 120ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  button.pl-button:hover, a.pl-button:hover {
    text-decoration: none;
    background: #adb6c0;
    color: #000000; }
  button.pl-button:active, button.pl-button:focus, a.pl-button:active, a.pl-button:focus {
    outline: 1px solid #000000;
    outline-offset: -4px; }
  button.pl-button.block, a.pl-button.block {
    width: 100%;
    display: flex; }
  button.pl-button.primary, a.pl-button.primary {
    background: #2a4e93;
    color: #ffffff; }
    button.pl-button.primary:hover, a.pl-button.primary:hover {
      background: #1c3462;
      color: #ffffff; }
    button.pl-button.primary:active, button.pl-button.primary:focus, a.pl-button.primary:active, a.pl-button.primary:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.secondary, a.pl-button.secondary {
    background: #3f5b77;
    color: #ffffff; }
    button.pl-button.secondary:hover, a.pl-button.secondary:hover {
      background: #2a3d4f;
      color: #ffffff; }
    button.pl-button.secondary:active, button.pl-button.secondary:focus, a.pl-button.secondary:active, a.pl-button.secondary:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.disabled, button.pl-button:disabled, a.pl-button.disabled, a.pl-button:disabled {
    background: #adb6c0;
    color: #000000; }
    button.pl-button.disabled:hover, button.pl-button:disabled:hover, a.pl-button.disabled:hover, a.pl-button:disabled:hover {
      background: #adb6c0;
      color: #000000; }
    button.pl-button.disabled:active, button.pl-button.disabled:focus, button.pl-button:disabled:active, button.pl-button:disabled:focus, a.pl-button.disabled:active, a.pl-button.disabled:focus, a.pl-button:disabled:active, a.pl-button:disabled:focus {
      outline: none; }
    button.pl-button.disabled:active, button.pl-button.disabled:focus, button.pl-button.disabled:hover, button.pl-button:disabled:active, button.pl-button:disabled:focus, button.pl-button:disabled:hover, a.pl-button.disabled:active, a.pl-button.disabled:focus, a.pl-button.disabled:hover, a.pl-button:disabled:active, a.pl-button:disabled:focus, a.pl-button:disabled:hover {
      cursor: not-allowed; }
  button.pl-button.success, a.pl-button.success {
    background: #2e633a;
    color: #ffffff; }
    button.pl-button.success:hover, a.pl-button.success:hover {
      background: #1f4227;
      color: #ffffff; }
    button.pl-button.success:active, button.pl-button.success:focus, a.pl-button.success:active, a.pl-button.success:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.warning, a.pl-button.warning {
    background: #ff6d05;
    color: #000000; }
    button.pl-button.warning:hover, a.pl-button.warning:hover {
      background: #aa4903;
      color: #ffffff; }
    button.pl-button.warning:active, button.pl-button.warning:focus, a.pl-button.warning:active, a.pl-button.warning:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.danger, a.pl-button.danger {
    background: #b60000;
    color: #ffffff; }
    button.pl-button.danger:hover, a.pl-button.danger:hover {
      background: #790000;
      color: #ffffff; }
    button.pl-button.danger:active, button.pl-button.danger:focus, a.pl-button.danger:active, a.pl-button.danger:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.crimson, a.pl-button.crimson {
    background: #dd2e44;
    color: #ffffff; }
    button.pl-button.crimson:hover, a.pl-button.crimson:hover {
      background: #931f2d;
      color: #ffffff; }
    button.pl-button.crimson:active, button.pl-button.crimson:focus, a.pl-button.crimson:active, a.pl-button.crimson:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.cornflower, a.pl-button.cornflower {
    background: #5f7aff;
    color: #ffffff; }
    button.pl-button.cornflower:hover, a.pl-button.cornflower:hover {
      background: #3f51aa;
      color: #ffffff; }
    button.pl-button.cornflower:active, button.pl-button.cornflower:focus, a.pl-button.cornflower:active, a.pl-button.cornflower:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.tangerine, a.pl-button.tangerine {
    background: #eb8e00;
    color: #000000; }
    button.pl-button.tangerine:hover, a.pl-button.tangerine:hover {
      background: #9d5f00;
      color: #ffffff; }
    button.pl-button.tangerine:active, button.pl-button.tangerine:focus, a.pl-button.tangerine:active, a.pl-button.tangerine:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.eve, a.pl-button.eve {
    background: #3b4dbf;
    color: #ffffff; }
    button.pl-button.eve:hover, a.pl-button.eve:hover {
      background: #27337f;
      color: #ffffff; }
    button.pl-button.eve:active, button.pl-button.eve:focus, a.pl-button.eve:active, a.pl-button.eve:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px; }
  button.pl-button.link, a.pl-button.link {
    color: #2a4e93;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    background: transparent;
    font-size: 15px;
    outline: none; }
    button.pl-button.link:hover, a.pl-button.link:hover {
      text-decoration: underline;
      cursor: pointer;
      background: transparent;
      color: #1c3462; }
    button.pl-button.link:focus, a.pl-button.link:focus {
      outline: none; }
    button.pl-button.link.success, a.pl-button.link.success {
      color: #2e633a;
      background: transparent; }
      button.pl-button.link.success:hover, a.pl-button.link.success:hover {
        text-decoration: underline;
        color: #1f4227; }
      button.pl-button.link.success:focus, a.pl-button.link.success:focus {
        outline: none; }
    button.pl-button.link.warning, a.pl-button.link.warning {
      color: #ff6d05;
      background: transparent; }
      button.pl-button.link.warning:hover, a.pl-button.link.warning:hover {
        text-decoration: underline;
        color: #aa4903; }
      button.pl-button.link.warning:focus, a.pl-button.link.warning:focus {
        outline: none; }
    button.pl-button.link.danger, a.pl-button.link.danger {
      color: #b60000;
      background: transparent; }
      button.pl-button.link.danger:hover, a.pl-button.link.danger:hover {
        text-decoration: underline;
        color: #790000; }
      button.pl-button.link.danger:focus, a.pl-button.link.danger:focus {
        outline: none; }
    button.pl-button.link.crimson, a.pl-button.link.crimson {
      color: #dd2e44;
      background: transparent; }
      button.pl-button.link.crimson:hover, a.pl-button.link.crimson:hover {
        text-decoration: underline;
        color: #931f2d; }
      button.pl-button.link.crimson:focus, a.pl-button.link.crimson:focus {
        outline: none; }
    button.pl-button.link.cornflower, a.pl-button.link.cornflower {
      color: #5f7aff;
      background: transparent; }
      button.pl-button.link.cornflower:hover, a.pl-button.link.cornflower:hover {
        text-decoration: underline;
        color: #3f51aa; }
      button.pl-button.link.cornflower:focus, a.pl-button.link.cornflower:focus {
        outline: none; }
    button.pl-button.link.tangerine, a.pl-button.link.tangerine {
      color: #eb8e00;
      background: transparent; }
      button.pl-button.link.tangerine:hover, a.pl-button.link.tangerine:hover {
        text-decoration: underline;
        color: #9d5f00; }
      button.pl-button.link.tangerine:focus, a.pl-button.link.tangerine:focus {
        outline: none; }
    button.pl-button.link.eve, a.pl-button.link.eve {
      color: #3b4dbf;
      background: transparent; }
      button.pl-button.link.eve:hover, a.pl-button.link.eve:hover {
        text-decoration: underline;
        color: #27337f; }
      button.pl-button.link.eve:focus, a.pl-button.link.eve:focus {
        outline: none; }
