@import "properties";
@import "colors";
@import "typography";
@import "mixins";

@mixin ac-account {
  // This style intentionally avoids strict nesting (form generators often wrap elements in div's etc)
  $ac-account-max-width: 30rem;

  div.ac-account-header {
    max-width: $ac-account-max-width;

    & > div.logo {
      padding-bottom: $ac-spacing-sm;

      & > a {
        display: inline;
        line-height: 26px;

        img, svg {
          max-height: 26px;
        }
      }
    }
  }

  section.ac-account a {
    text-decoration: none;
  }

  section.ac-account {
    &.sign-in {
      max-width: $ac-account-max-width;
    }

    &.sign-in {
      border-radius: 2px;
      background: $ac-color-body-light-bg-panel-secondary;
      border: 1px solid $ac-color-body-light-bg-panel-secondary-border;
      @include ac-pad-xy($ac-spacing-sm, $ac-spacing-sm);

      @include ac-mode-dark {
        background: $ac-color-body-dark-bg-panel-secondary;
        border: 1px solid $ac-color-body-dark-bg-panel-secondary-border;
      }

      @include ac-screen-md-up {
        @include ac-pad-xy($ac-spacing-lg, $ac-spacing-md);
      }
    }

    div.welcome {
      font-size: $ac-heading-h2-font-size;
      line-height: $ac-heading-h2-line-height;
      font-weight: 300;
      margin-bottom: $ac-spacing-xs;
    }

    div.lead {
      margin-bottom: $ac-spacing-sm;
    }

    div.status {
      margin-top: $ac-spacing-sm;
      margin-bottom: $ac-spacing-sm;
    }

    div.links {
      margin-top: $ac-spacing-md;
      font-size: 0.98em;

      & > div.link:not(:last-child) {
        margin-bottom: $ac-spacing-xs;
      }
    }

    form {
      input:not([type]),
      input[type=date],
      input[type=datetime-local],
      input[type=email],
      input[type=month],
      input[type=number],
      input[type=password],
      input[type=search],
      input[type=tel],
      input[type=text],
      input[type=time],
      input[type=url],
      input[type=week] {
        display: flex;
        width: 100%;
      }

      button {
        display: flex;
        width: 100%;

        &.submit, &[type=submit] {
          margin-top: $ac-spacing-sm;
        }
      }
    }
  }
}
