@import "typography";
@import "colors";
@import "elevation";

@mixin pl-buttons {
  button.pl-button, a.pl-button, input[type=submit], input[type=button], input[type=reset] {
    font-family: $pl-font-family-body;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.714em 2.5em;
    font-size: 0.929em;
    text-decoration: none;
    background: $pl-color-neptune;
    color: $pl-color-neptune-ctr;
    border: 1px solid transparent;
    font-weight: 500;
    transition-property: background-color, box-shadow, outline-offset;
    transition-timing-function: $pl-animation-transition-common;
    transition-duration: $pl-elevation-transition-duration;
    @include pl-elevation(1);

    &.sm {
      padding: 0.4em 1.286em;
    }

    &.lg {
      padding: 0.75em 2.557em;
      font-size: 1em;
    }

    &.with-icon, &.only-icon {
      & > svg, & > img {
        shape-rendering: crispEdges;
        position: relative;
        margin-right: 0.3em;
        height: 2em;
      }

      padding: 0.357em 2.5em;

      &.sm {
        padding: 0.2em 1.286em;

        & > svg, & > img {
          height: 1em;
        }
      }

      &.lg {
        padding: 0.375em 2.557em;

        & > svg, & > img {
          height: 3em;
        }
      }

      &.only-icon {
        padding: 0.357em;

        & > svg, & > img {
          margin-right: 0;
        }

        &.sm {
          padding: 0.2em
        }

        &.lg {
          padding: 0.375em;
        }
      }
    }

    &:hover {
      text-decoration: none;
      background: $pl-color-neptune-shade-400;
      color: $pl-color-neptune-shade-400-ctr;
      @include pl-elevation(8);
    }

    &:active {
      @include pl-elevation(1);
    }

    &:focus {
      outline: none;
    }

    &:focus:not(:hover) {
      outline: 1px solid $pl-color-neptune-shade-400-ctr;
      outline-offset: -5px;
    }

    &.block {
      width: 100%;
      display: flex;
    }

    &.secondary {
      background: $pl-color-fjord-tint-500;
      border: 1px solid $pl-color-fjord;
      color: $pl-color-fjord-shade-400;

      &:hover {
        background: $pl-color-fjord-shade-400;
        color: $pl-color-fjord-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-fjord;
      }

      @include pl-mode-dark {
        background: $pl-color-fjord-tint-300;
        color: $pl-color-fjord-shade-200;

        &:hover {
          background: $pl-color-fjord-shade-400;
          color: $pl-color-fjord-shade-400-ctr;
        }

        &:focus:not(:hover) {
          outline: 1px solid $pl-color-fjord-shade-200;
        }
      }
    }

    &.disabled, &:disabled {
      background: $pl-color-moon-shade-500;
      color: $pl-color-moon-tint-100;

      &:hover {
        background: $pl-color-moon-shade-500;
        color: $pl-color-moon-tint-100;
        @include pl-elevation(1);
      }

      &:active, &:focus {
        outline: none;
        transform: none;
      }

      &:active, &:focus, &:hover {
        cursor: not-allowed;
      }
    }

    &.success {
      background: $pl-color-gaia-tint-500;
      border: 1px solid $pl-color-gaia;
      color: $pl-color-gaia;

      &:hover {
        background: $pl-color-gaia-shade-400;
        color: $pl-color-gaia-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-fjord;
      }

      @include pl-mode-dark {
        background: $pl-color-gaia-tint-300;
        color: $pl-color-gaia-shade-200;

        &:hover {
          background: $pl-color-gaia-shade-400;
          color: $pl-color-gaia-shade-400-ctr;
        }

        &:focus:not(:hover) {
          outline: 1px solid $pl-color-gaia-shade-200;
        }
      }
    }

    &.warning {
      background: $pl-color-apricot-tint-500;
      border: 1px solid $pl-color-apricot;
      color: $pl-color-apricot;

      &:hover {
        background: $pl-color-apricot-shade-400;
        color: $pl-color-apricot-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-apricot;
      }

      @include pl-mode-dark {
        background: $pl-color-apricot-tint-300;
        color: $pl-color-apricot-shade-200;

        &:hover {
          background: $pl-color-apricot-shade-400;
          color: $pl-color-apricot-shade-400-ctr;
        }

        &:focus:not(:hover) {
          outline: 1px solid $pl-color-apricot-shade-200;
        }
      }
    }

    &.danger {
      background: $pl-color-wolf-tint-500;
      border: 1px solid $pl-color-wolf;
      color: $pl-color-wolf;

      &:hover {
        background: $pl-color-wolf-shade-400;
        color: $pl-color-wolf-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-wolf;
      }

      @include pl-mode-dark {
        background: $pl-color-wolf-tint-300;
        color: $pl-color-wolf-shade-200;

        &:hover {
          background: $pl-color-wolf-shade-400;
          color: $pl-color-wolf-shade-400-ctr;
        }

        &:focus:not(:hover) {
          outline: 1px solid $pl-color-wolf-shade-200;
        }
      }
    }

    &.crimson {
      background: $pl-color-crimson;
      color: $pl-color-crimson-ctr;

      &:hover {
        background: $pl-color-crimson-shade-400;
        color: $pl-color-crimson-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-crimson-ctr;
      }
    }

    &.cornflower {
      background: $pl-color-cornflower;
      color: $pl-color-cornflower-ctr;

      &:hover {
        background: $pl-color-cornflower-shade-400;
        color: $pl-color-cornflower-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-cornflower-ctr;
      }
    }

    &.tangerine, &[type=reset] {
      background: $pl-color-tangerine;
      color: $pl-color-tangerine-ctr;

      &:hover {
        background: $pl-color-tangerine-shade-400;
        color: $pl-color-tangerine-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-tangerine-ctr;
      }
    }

    &.eve {
      background: $pl-color-eve;
      color: $pl-color-eve-ctr;

      &:hover {
        background: $pl-color-eve-shade-400;
        color: $pl-color-eve-shade-400-ctr;
      }

      &:focus:not(:hover) {
        outline: 1px solid $pl-color-eve-ctr;
      }
    }

    &.link {
      color: $pl-color-neptune;
      padding: 0;
      margin: 0;
      border: 0;
      display: inline-block;
      background: transparent;
      font-size: 1em;
      outline: none;
      font-weight: normal;
      @include pl-elevation(0);

      @include pl-mode-dark {
        color: $pl-color-neptune-tint-200;
      }

      &:hover {
        cursor: pointer;
        background: transparent;
        text-decoration: underline;
        color: $pl-color-neptune-shade-300;
        @include pl-elevation(0);

        @include pl-mode-dark {
          color: $pl-color-neptune;
        }
      }

      &:focus {
        outline: none;
      }

      &.success {
        color: $pl-color-gaia;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-gaia-shade-400;
        }

        &:focus {
          outline: none;
        }
      }

      &.secondary {
        color: $pl-color-fjord;
        background: transparent;

        @include pl-mode-dark {
          background: transparent;
        }

        &:hover {
          text-decoration: underline;
          color: $pl-color-fjord-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-fjord-tint-300;
          background: transparent;

          &:hover {
            color: $pl-color-fjord-tint-200;
          }
        }
      }

      &.disabled, &:disabled {
        color: $pl-color-moon-tint-100;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-moon-tint-100;
          cursor: not-allowed;
        }

        &:focus {
          outline: none;
        }
      }

      &.success {
        color: $pl-color-gaia;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-gaia-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-gaia-tint-300;
          background: transparent;

          &:hover {
            color: $pl-color-gaia-tint-200;
          }
        }
      }

      &.warning {
        color: $pl-color-apricot;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-apricot-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-apricot-tint-300;
          background: transparent;

          &:hover {
            color: $pl-color-apricot-tint-200;
          }
        }
      }

      &.danger {
        color: $pl-color-wolf;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-wolf-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-wolf-tint-300;
          background: transparent;

          &:hover {
            color: $pl-color-wolf-tint-200;
          }
        }
      }

      &.crimson {
        color: $pl-color-crimson;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-crimson-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-crimson-tint-100;
          background: transparent;

          &:hover {
            color: $pl-color-crimson;
          }
        }
      }

      &.cornflower {
        color: $pl-color-cornflower;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-cornflower-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-cornflower-tint-100;
          background: transparent;

          &:hover {
            color: $pl-color-cornflower;
          }
        }
      }

      &.tangerine {
        color: $pl-color-tangerine;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-tangerine-shade-400;
        }

        &:focus {
          outline: none;
        }


        @include pl-mode-dark {
          color: $pl-color-tangerine-tint-100;
          background: transparent;

          &:hover {
            color: $pl-color-tangerine;
          }
        }
      }

      &.eve {
        color: $pl-color-eve;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $pl-color-eve-shade-400;
        }

        &:focus {
          outline: none;
        }

        @include pl-mode-dark {
          color: $pl-color-eve-tint-100;
          background: transparent;

          &:hover {
            color: $pl-color-eve;
          }
        }
      }
    }
  }
}
