@import "typography";
@import "colors";
@import "properties";

@mixin ac-buttons {
  button.ac-button, a.ac-button, input[type="submit"].ac-button, input[type="reset"].ac-button, input[type="button"].ac-button {
    font-family: $ac-font-family-body;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.714em 2.5em;
    font-size: 0.929em;
    text-decoration: none;
    background: $ac-color-neptune;
    color: $ac-color-neptune-ctr;
    border: 1px solid transparent;
    font-weight: 500;
    transition-property: background-color, box-shadow, outline-offset;
    transition-timing-function: $ac-animation-transition-common;
    transition-duration: $ac-elevation-transition-duration;
    border-radius: 2px;

    &::-moz-focus-inner {
      border: 0;
    }

    &.sm {
      padding: 0.4em 1.286em;
    }

    &.lg {
      padding: 0.75em 2.557em;
      font-size: 1em;
    }

    &.with-icon, &.only-icon {
      & > svg, & > img {
        shape-rendering: geometricPrecision;
        position: relative;
        margin-right: 0.75em;
        height: 1.5em;
      }

      padding: 0.714em 2.5em;

      &.sm {
        padding: 0.2em 1.286em;

        & > svg, & > img {
          height: 1em;
        }
      }

      &.lg {
        padding: 0.375em 2.557em;

        & > svg, & > img {
          height: 3em;
        }
      }

      &.only-icon {
        padding: 0.357em;

        & > svg, & > img {
          margin-right: 0;
        }

        &.sm {
          padding: 0.2em
        }

        &.lg {
          padding: 0.375em;
        }
      }
    }

    &:hover {
      text-decoration: none;
      background: $ac-color-neptune-shade-400;
      color: $ac-color-neptune-shade-400-ctr;
    }

    &:active, &:focus {
      outline: 1px solid $ac-color-neptune-shade-400-ctr;
      outline-offset: -5px;
    }

    &.block {
      width: 100%;
    }

    &.secondary {
      background: $ac-color-moon-shade-500;
      color: $ac-color-moon-shade-500-ctr;

      &:hover {
        background: $ac-color-moon-shade-300;
        color: $ac-color-moon-shade-300-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-moon-shade-500-ctr;
      }

      @include ac-mode-dark {
        background: $ac-color-moon-shade-700;
        color: $ac-color-moon-shade-700-ctr;

        &:hover {
          background: $ac-color-moon-shade-500;
          color: $ac-color-moon-shade-500-ctr;
        }
      }
    }

    &.disabled, &:disabled {
      background: $ac-color-moon-shade-900;
      color: $ac-color-moon-tint-800;

      &:hover {
        background: $ac-color-moon-shade-900;
        color: $ac-color-moon-tint-800;
      }

      &:active, &:active, &:focus {
        outline: none;
        transform: none;
      }

      &:active, &:active, &:focus, &:hover {
        cursor: not-allowed;
      }

      @include ac-mode-dark {
      }
    }

    &.success {
      background: $ac-color-gaia-tint-500;
      border: 1px solid $ac-color-gaia;
      color: $ac-color-gaia;

      &:hover {
        background: $ac-color-gaia-shade-400;
        color: $ac-color-gaia-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-gaia;
      }

      &:active, &:focus:hover {
        outline: 1px solid $ac-color-gaia-tint-500;
      }

      @include ac-mode-dark {
        background: $ac-color-gaia-tint-300;
        color: $ac-color-gaia-shade-200;

        &:hover {
          background: $ac-color-gaia-shade-400;
          color: $ac-color-gaia-shade-400-ctr;
          border: 1px solid transparent;
        }

        &:active, &:focus {
          outline: 1px solid $ac-color-gaia-shade-200;
        }

        &:active, &:focus:hover {
          outline: 1px solid $ac-color-gaia-tint-300;
        }
      }
    }

    &.warning {
      background: $ac-color-apricot-tint-500;
      border: 1px solid $ac-color-apricot;
      color: $ac-color-apricot;

      &:hover {
        background: $ac-color-apricot-shade-400;
        color: $ac-color-apricot-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-apricot;
      }

      &:active, &:focus:hover {
        outline: 1px solid $ac-color-apricot-tint-500;
      }

      @include ac-mode-dark {
        background: $ac-color-apricot-tint-300;
        color: $ac-color-apricot-shade-200;

        &:hover {
          background: $ac-color-apricot-shade-400;
          border: 1px solid transparent;
          color: $ac-color-apricot-shade-400-ctr;
        }

        &:active, &:focus {
          outline: 1px solid $ac-color-apricot-shade-200;
        }

        &:active, &:focus:hover {
          outline: 1px solid $ac-color-apricot-tint-300;
        }
      }
    }

    &.danger {
      background: $ac-color-wolf-tint-500;
      border: 1px solid $ac-color-wolf;
      color: $ac-color-wolf;

      &:hover {
        background: $ac-color-wolf-shade-400;
        color: $ac-color-wolf-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-wolf;
      }

      &:active, &:focus:hover {
        outline: 1px solid $ac-color-wolf-tint-500;
      }

      @include ac-mode-dark {
        background: $ac-color-wolf-tint-300;
        color: $ac-color-wolf-shade-200;

        &:hover {
          background: $ac-color-wolf-shade-400;
          color: $ac-color-wolf-shade-400-ctr;
          border: 1px solid transparent;
        }

        &:active, &:focus {
          outline: 1px solid $ac-color-wolf-shade-200;
        }

        &:active, &:focus:hover {
          outline: 1px solid $ac-color-wolf-tint-300;
        }
      }
    }

    &.crimson {
      background: $ac-color-crimson;
      color: $ac-color-crimson-ctr;

      &:hover {
        background: $ac-color-crimson-shade-400;
        color: $ac-color-crimson-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-crimson-ctr;
      }
    }

    &.cornflower {
      background: $ac-color-cornflower;
      color: $ac-color-cornflower-ctr;

      &:hover {
        background: $ac-color-cornflower-shade-400;
        color: $ac-color-cornflower-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-cornflower-ctr;
      }
    }

    &.tangerine {
      background: $ac-color-tangerine;
      color: $ac-color-tangerine-ctr;

      &:hover {
        background: $ac-color-tangerine-shade-400;
        color: $ac-color-tangerine-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-tangerine-ctr;
      }

      &:active, &:focus:hover {
        outline: 1px solid $ac-color-tangerine-shade-400-ctr;
      }
    }

    &.eve {
      background: $ac-color-eve;
      color: $ac-color-eve-ctr;

      &:hover {
        background: $ac-color-eve-shade-400;
        color: $ac-color-eve-shade-400-ctr;
      }

      &:active, &:focus {
        outline: 1px solid $ac-color-eve-ctr;
      }
    }

    // Vendor buttons
    &.vnd-mail-gmail {
      background: #d44638;
      color: #ffffff;

      &:hover {
        background: #b23121;
        color: #ffffff;
      }

      &:active, &:focus {
        outline: 1px solid #ffffff;
      }
    }

    &.vnd-mail-outlook {
      background: #0072c6;
      color: #ffffff;

      &:hover {
        background: #004b95;
        color: #ffffff;
      }

      &:active, &:focus {
        outline: 1px solid #ffffff;
      }
    }

    &.vnd-mail-icloud {
      background: #0070c9;
      color: #ffffff;

      &:hover {
        background: #0052a3;
        color: #ffffff;
      }

      &:active, &:focus {
        outline: 1px solid #ffffff;
      }
    }

    &.vnd-mail-protonmail {
      background: #505264;
      color: #ffffff;

      &:hover {
        background: #2d2f40;
        color: #ffffff;
      }

      &:active, &:focus {
        outline: 1px solid #ffffff;
      }
    }

    &.vnd-mail-yahoo {
      background: #4a00a0;
      color: #ffffff;

      &:hover {
        background: #3c0079;
        color: #ffffff;
      }

      &:active, &:focus {
        outline: 1px solid #ffffff;
      }
    }

    &.link {
      color: $ac-color-neptune;
      padding: 0;
      margin: 0;
      border: 0;
      display: inline-block;
      background: transparent;
      font-size: 1em;
      outline: none;
      font-weight: normal;

      @include ac-mode-dark {
        color: $ac-color-neptune-tint-200;
      }

      &:hover {
        cursor: pointer;
        background: transparent;
        text-decoration: underline;
        color: $ac-color-neptune-shade-300;

        @include ac-mode-dark {
          color: $ac-color-neptune;
        }
      }

      &:active, &:focus {
        outline: none;
        text-decoration: underline;
      }

      &.success {
        color: $ac-color-gaia;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-gaia-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }
      }

      &.secondary {
        color: $ac-color-fjord;
        background: transparent;

        @include ac-mode-dark {
          background: transparent;
        }

        &:hover {
          text-decoration: underline;
          color: $ac-color-fjord-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-fjord-tint-300;
          background: transparent;

          &:hover {
            color: $ac-color-fjord-tint-200;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.disabled, &:disabled {
        color: $ac-color-moon-tint-100;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-moon-tint-100;
          cursor: not-allowed;
        }

        &:active, &:focus {
          outline: none;
        }
      }

      &.success {
        color: $ac-color-gaia;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-gaia-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-gaia-tint-300;
          background: transparent;

          &:hover {
            color: $ac-color-gaia-tint-200;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.warning {
        color: $ac-color-apricot;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-apricot-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-apricot-tint-300;
          background: transparent;

          &:hover {
            color: $ac-color-apricot-tint-200;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.danger {
        color: $ac-color-wolf;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-wolf-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-wolf-tint-300;
          background: transparent;

          &:hover {
            color: $ac-color-wolf-tint-200;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.crimson {
        color: $ac-color-crimson;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-crimson-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-crimson-tint-100;
          background: transparent;

          &:hover {
            color: $ac-color-crimson;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.cornflower {
        color: $ac-color-cornflower;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-cornflower-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-cornflower-tint-100;
          background: transparent;

          &:hover {
            color: $ac-color-cornflower;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.tangerine {
        color: $ac-color-tangerine;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-tangerine-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-tangerine-tint-100;
          background: transparent;

          &:hover {
            color: $ac-color-tangerine;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      &.eve {
        color: $ac-color-eve;
        background: transparent;

        &:hover {
          text-decoration: underline;
          color: $ac-color-eve-shade-400;
        }

        &:active, &:focus {
          outline: none;
        }

        @include ac-mode-dark {
          color: $ac-color-eve-tint-100;
          background: transparent;

          &:hover {
            color: $ac-color-eve;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
