// Utility colors //
$pl-color-body-light-text-bg: #ffffff !default;
$pl-color-body-light-text-fg: #222222 !default;

$pl-color-body-light-heading-text-fg: #444444 !default;

$pl-color-body-light-bg-panel-primary: #f6f6f6 !default;
$pl-color-body-light-bg-panel-primary-border: #e6e6e6 !default;

$pl-color-body-light-bg-panel-secondary: #fbfbfb !default;
$pl-color-body-light-bg-panel-secondary-border: #ebebeb !default;

$pl-color-body-light-bg-panel-tertiary: #eeeff0 !default;
$pl-color-body-light-bg-panel-tertiary-border: #dbdbdb !default;

// TODO: verify dark color scheme composition
$pl-color-body-dark-text-bg: #333333 !default;
$pl-color-body-dark-text-fg: #e2e2e2 !default;

$pl-color-body-dark-heading-text-fg: #cccccc !default;

$pl-color-body-dark-bg-panel-primary: #3e3e3e !default;
$pl-color-body-dark-bg-panel-primary-border: #494949 !default;

$pl-color-body-dark-bg-panel-secondary: #3b3b3b !default;
$pl-color-body-dark-bg-panel-secondary-border: #4b4b4b !default;

$pl-color-body-dark-bg-panel-tertiary: #4b4b4b !default;
$pl-color-body-dark-bg-panel-tertiary-border: #5b5b5b !default;

// Brand colors //
$pl-color-brand-crimson: #dd2e44 !default;
$pl-color-brand-cornflower: #5f7aff !default;
$pl-color-brand-tangerine: #eb8e00 !default;

// Brand scheme colors //
$pl-color-crimson: #dd2e44 !default;
$pl-color-crimson-ctr: #ffffff !default;
$pl-color-crimson-shade-100: #25080b !default;
$pl-color-crimson-shade-100-ctr: #ffffff !default;
$pl-color-crimson-shade-200: #4a0f17 !default;
$pl-color-crimson-shade-200-ctr: #ffffff !default;
$pl-color-crimson-shade-300: #6f1722 !default;
$pl-color-crimson-shade-300-ctr: #ffffff !default;
$pl-color-crimson-shade-400: #931f2d !default;
$pl-color-crimson-shade-400-ctr: #ffffff !default;
$pl-color-crimson-shade-500: #b82639 !default;
$pl-color-crimson-shade-500-ctr: #ffffff !default;
$pl-color-crimson-tint-100: #e35163 !default;
$pl-color-crimson-tint-100-ctr: #000000 !default;
$pl-color-crimson-tint-200: #e87482 !default;
$pl-color-crimson-tint-200-ctr: #000000 !default;
$pl-color-crimson-tint-300: #ee97a2 !default;
$pl-color-crimson-tint-300-ctr: #000000 !default;
$pl-color-crimson-tint-400: #f4b9c1 !default;
$pl-color-crimson-tint-400-ctr: #000000 !default;
$pl-color-crimson-tint-500: #f9dce0 !default;
$pl-color-crimson-tint-500-ctr: #000000 !default;

$pl-color-cornflower: #5f7aff !default;
$pl-color-cornflower-ctr: #ffffff !default;
$pl-color-cornflower-shade-100: #10142b !default;
$pl-color-cornflower-shade-100-ctr: #ffffff !default;
$pl-color-cornflower-shade-200: #202955 !default;
$pl-color-cornflower-shade-200-ctr: #ffffff !default;
$pl-color-cornflower-shade-300: #303d80 !default;
$pl-color-cornflower-shade-300-ctr: #ffffff !default;
$pl-color-cornflower-shade-400: #3f51aa !default;
$pl-color-cornflower-shade-400-ctr: #ffffff !default;
$pl-color-cornflower-shade-500: #4f66d5 !default;
$pl-color-cornflower-shade-500-ctr: #ffffff !default;
$pl-color-cornflower-tint-100: #7a90ff !default;
$pl-color-cornflower-tint-100-ctr: #000000 !default;
$pl-color-cornflower-tint-200: #94a6ff !default;
$pl-color-cornflower-tint-200-ctr: #000000 !default;
$pl-color-cornflower-tint-300: #afbdff !default;
$pl-color-cornflower-tint-300-ctr: #000000 !default;
$pl-color-cornflower-tint-400: #cad3ff !default;
$pl-color-cornflower-tint-400-ctr: #000000 !default;
$pl-color-cornflower-tint-500: #e4e9ff !default;
$pl-color-cornflower-tint-500-ctr: #000000 !default;

$pl-color-tangerine: #eb8e00 !default;
$pl-color-tangerine-ctr: #000000 !default;
$pl-color-tangerine-shade-100: #271800 !default;
$pl-color-tangerine-shade-100-ctr: #ffffff !default;
$pl-color-tangerine-shade-200: #4e2f00 !default;
$pl-color-tangerine-shade-200-ctr: #ffffff !default;
$pl-color-tangerine-shade-300: #764700 !default;
$pl-color-tangerine-shade-300-ctr: #ffffff !default;
$pl-color-tangerine-shade-400: #9d5f00 !default;
$pl-color-tangerine-shade-400-ctr: #ffffff !default;
$pl-color-tangerine-shade-500: #c47600 !default;
$pl-color-tangerine-shade-500-ctr: #000000 !default;
$pl-color-tangerine-tint-100: #eea12b !default;
$pl-color-tangerine-tint-100-ctr: #000000 !default;
$pl-color-tangerine-tint-200: #f2b455 !default;
$pl-color-tangerine-tint-200-ctr: #000000 !default;
$pl-color-tangerine-tint-300: #f5c780 !default;
$pl-color-tangerine-tint-300-ctr: #000000 !default;
$pl-color-tangerine-tint-400: #f8d9aa !default;
$pl-color-tangerine-tint-400-ctr: #000000 !default;
$pl-color-tangerine-tint-500: #fcecd5 !default;
$pl-color-tangerine-tint-500-ctr: #000000 !default;

// Scheme colors //
$pl-color-neptune: #2a4e93 !default;
$pl-color-neptune-ctr: #ffffff !default;
$pl-color-neptune-shade-100: #070d19 !default;
$pl-color-neptune-shade-100-ctr: #ffffff !default;
$pl-color-neptune-shade-200: #0e1a31 !default;
$pl-color-neptune-shade-200-ctr: #ffffff !default;
$pl-color-neptune-shade-300: #15274a !default;
$pl-color-neptune-shade-300-ctr: #ffffff !default;
$pl-color-neptune-shade-400: #1c3462 !default;
$pl-color-neptune-shade-400-ctr: #ffffff !default;
$pl-color-neptune-shade-500: #23417b !default;
$pl-color-neptune-shade-500-ctr: #ffffff !default;
$pl-color-neptune-tint-100: #4e6ca5 !default;
$pl-color-neptune-tint-100-ctr: #ffffff !default;
$pl-color-neptune-tint-200: #7189b7 !default;
$pl-color-neptune-tint-200-ctr: #000000 !default;
$pl-color-neptune-tint-300: #95a7c9 !default;
$pl-color-neptune-tint-300-ctr: #000000 !default;
$pl-color-neptune-tint-400: #b8c4db !default;
$pl-color-neptune-tint-400-ctr: #000000 !default;
$pl-color-neptune-tint-500: #dce2ed !default;
$pl-color-neptune-tint-500-ctr: #000000 !default;

$pl-color-fjord: #3f5b77 !default;
$pl-color-fjord-ctr: #ffffff !default;
$pl-color-fjord-shade-100: #0b0f14 !default;
$pl-color-fjord-shade-100-ctr: #ffffff !default;
$pl-color-fjord-shade-200: #151e28 !default;
$pl-color-fjord-shade-200-ctr: #ffffff !default;
$pl-color-fjord-shade-300: #202e3c !default;
$pl-color-fjord-shade-300-ctr: #ffffff !default;
$pl-color-fjord-shade-400: #2a3d4f !default;
$pl-color-fjord-shade-400-ctr: #ffffff !default;
$pl-color-fjord-shade-500: #354c63 !default;
$pl-color-fjord-shade-500-ctr: #ffffff !default;
$pl-color-fjord-tint-100: #5f768e !default;
$pl-color-fjord-tint-100-ctr: #ffffff !default;
$pl-color-fjord-tint-200: #7f92a4 !default;
$pl-color-fjord-tint-200-ctr: #000000 !default;
$pl-color-fjord-tint-300: #9fadbb !default;
$pl-color-fjord-tint-300-ctr: #000000 !default;
$pl-color-fjord-tint-400: #bfc8d2 !default;
$pl-color-fjord-tint-400-ctr: #000000 !default;
$pl-color-fjord-tint-500: #dfe4e8 !default;
$pl-color-fjord-tint-500-ctr: #000000 !default;

$pl-color-eve: #3b4dbf !default;
$pl-color-eve-ctr: #ffffff !default;
$pl-color-eve-shade-100: #0a0d20 !default;
$pl-color-eve-shade-100-ctr: #ffffff !default;
$pl-color-eve-shade-200: #141a40 !default;
$pl-color-eve-shade-200-ctr: #ffffff !default;
$pl-color-eve-shade-300: #1e2760 !default;
$pl-color-eve-shade-300-ctr: #ffffff !default;
$pl-color-eve-shade-400: #27337f !default;
$pl-color-eve-shade-400-ctr: #ffffff !default;
$pl-color-eve-shade-500: #31409f !default;
$pl-color-eve-shade-500-ctr: #ffffff !default;
$pl-color-eve-tint-100: #5c6bca !default;
$pl-color-eve-tint-100-ctr: #ffffff !default;
$pl-color-eve-tint-200: #7c88d4 !default;
$pl-color-eve-tint-200-ctr: #000000 !default;
$pl-color-eve-tint-300: #9da6df !default;
$pl-color-eve-tint-300-ctr: #000000 !default;
$pl-color-eve-tint-400: #bec4ea !default;
$pl-color-eve-tint-400-ctr: #000000 !default;
$pl-color-eve-tint-500: #dee1f4 !default;
$pl-color-eve-tint-500-ctr: #000000 !default;

$pl-color-apricot: #ff6d05 !default;
$pl-color-apricot-ctr: #000000 !default;
$pl-color-apricot-shade-100: #2b1201 !default;
$pl-color-apricot-shade-100-ctr: #ffffff !default;
$pl-color-apricot-shade-200: #552402 !default;
$pl-color-apricot-shade-200-ctr: #ffffff !default;
$pl-color-apricot-shade-300: #803703 !default;
$pl-color-apricot-shade-300-ctr: #ffffff !default;
$pl-color-apricot-shade-400: #aa4903 !default;
$pl-color-apricot-shade-400-ctr: #ffffff !default;
$pl-color-apricot-shade-500: #d55b04 !default;
$pl-color-apricot-shade-500-ctr: #000000 !default;
$pl-color-apricot-tint-100: #ff852f !default;
$pl-color-apricot-tint-100-ctr: #000000 !default;
$pl-color-apricot-tint-200: #ff9e58 !default;
$pl-color-apricot-tint-200-ctr: #000000 !default;
$pl-color-apricot-tint-300: #ffb682 !default;
$pl-color-apricot-tint-300-ctr: #000000 !default;
$pl-color-apricot-tint-400: #ffceac !default;
$pl-color-apricot-tint-400-ctr: #000000 !default;
$pl-color-apricot-tint-500: #ffe7d5 !default;
$pl-color-apricot-tint-500-ctr: #000000 !default;

$pl-color-sunset: #ffd105 !default;
$pl-color-sunset-ctr: #000000 !default;
$pl-color-sunset-shade-100: #2b2301 !default;
$pl-color-sunset-shade-100-ctr: #ffffff !default;
$pl-color-sunset-shade-200: #554602 !default;
$pl-color-sunset-shade-200-ctr: #ffffff !default;
$pl-color-sunset-shade-300: #806903 !default;
$pl-color-sunset-shade-300-ctr: #ffffff !default;
$pl-color-sunset-shade-400: #aa8b03 !default;
$pl-color-sunset-shade-400-ctr: #000000 !default;
$pl-color-sunset-shade-500: #d5ae04 !default;
$pl-color-sunset-shade-500-ctr: #000000 !default;
$pl-color-sunset-tint-100: #ffd92f !default;
$pl-color-sunset-tint-100-ctr: #000000 !default;
$pl-color-sunset-tint-200: #ffe058 !default;
$pl-color-sunset-tint-200-ctr: #000000 !default;
$pl-color-sunset-tint-300: #ffe882 !default;
$pl-color-sunset-tint-300-ctr: #000000 !default;
$pl-color-sunset-tint-400: #fff0ac !default;
$pl-color-sunset-tint-400-ctr: #000000 !default;
$pl-color-sunset-tint-500: #fff7d5 !default;
$pl-color-sunset-tint-500-ctr: #000000 !default;

$pl-color-gaia: #2e633a !default;
$pl-color-gaia-ctr: #ffffff !default;
$pl-color-gaia-shade-100: #08110a !default;
$pl-color-gaia-shade-100-ctr: #ffffff !default;
$pl-color-gaia-shade-200: #0f2113 !default;
$pl-color-gaia-shade-200-ctr: #ffffff !default;
$pl-color-gaia-shade-300: #17321d !default;
$pl-color-gaia-shade-300-ctr: #ffffff !default;
$pl-color-gaia-shade-400: #1f4227 !default;
$pl-color-gaia-shade-400-ctr: #ffffff !default;
$pl-color-gaia-shade-500: #265330 !default;
$pl-color-gaia-shade-500-ctr: #ffffff !default;
$pl-color-gaia-tint-100: #517d5b !default;
$pl-color-gaia-tint-100-ctr: #ffffff !default;
$pl-color-gaia-tint-200: #74977c !default;
$pl-color-gaia-tint-200-ctr: #000000 !default;
$pl-color-gaia-tint-300: #97b19d !default;
$pl-color-gaia-tint-300-ctr: #000000 !default;
$pl-color-gaia-tint-400: #b9cbbd !default;
$pl-color-gaia-tint-400-ctr: #000000 !default;
$pl-color-gaia-tint-500: #dce5de !default;
$pl-color-gaia-tint-500-ctr: #000000 !default;

$pl-color-wolf: #b60000 !default;
$pl-color-wolf-ctr: #ffffff !default;
$pl-color-wolf-shade-100: #1e0000 !default;
$pl-color-wolf-shade-100-ctr: #ffffff !default;
$pl-color-wolf-shade-200: #3d0000 !default;
$pl-color-wolf-shade-200-ctr: #ffffff !default;
$pl-color-wolf-shade-300: #5b0000 !default;
$pl-color-wolf-shade-300-ctr: #ffffff !default;
$pl-color-wolf-shade-400: #790000 !default;
$pl-color-wolf-shade-400-ctr: #ffffff !default;
$pl-color-wolf-shade-500: #980000 !default;
$pl-color-wolf-shade-500-ctr: #ffffff !default;
$pl-color-wolf-tint-100: #c22b2b !default;
$pl-color-wolf-tint-100-ctr: #ffffff !default;
$pl-color-wolf-tint-200: #ce5555 !default;
$pl-color-wolf-tint-200-ctr: #000000 !default;
$pl-color-wolf-tint-300: #db8080 !default;
$pl-color-wolf-tint-300-ctr: #000000 !default;
$pl-color-wolf-tint-400: #e7aaaa !default;
$pl-color-wolf-tint-400-ctr: #000000 !default;
$pl-color-wolf-tint-500: #f3d5d5 !default;
$pl-color-wolf-tint-500-ctr: #000000 !default;

// Shading color //
$pl-color-moon: #778696 !default;
$pl-color-moon-ctr: #000000 !default;
$pl-color-moon-shade-100: #0c0d0f !default;
$pl-color-moon-shade-100-ctr: #ffffff !default;
$pl-color-moon-shade-200: #181b1e !default;
$pl-color-moon-shade-200-ctr: #ffffff !default;
$pl-color-moon-shade-300: #24282d !default;
$pl-color-moon-shade-300-ctr: #ffffff !default;
$pl-color-moon-shade-400: #30363c !default;
$pl-color-moon-shade-400-ctr: #ffffff !default;
$pl-color-moon-shade-500: #3c434b !default;
$pl-color-moon-shade-500-ctr: #ffffff !default;
$pl-color-moon-shade-600: #47505a !default;
$pl-color-moon-shade-600-ctr: #ffffff !default;
$pl-color-moon-shade-700: #535e69 !default;
$pl-color-moon-shade-700-ctr: #ffffff !default;
$pl-color-moon-shade-800: #5f6b78 !default;
$pl-color-moon-shade-800-ctr: #ffffff !default;
$pl-color-moon-shade-900: #6b7987 !default;
$pl-color-moon-shade-900-ctr: #000000 !default;
$pl-color-moon-tint-100: #8592a1 !default;
$pl-color-moon-tint-100-ctr: #000000 !default;
$pl-color-moon-tint-200: #929eab !default;
$pl-color-moon-tint-200-ctr: #000000 !default;
$pl-color-moon-tint-300: #a0aab6 !default;
$pl-color-moon-tint-300-ctr: #000000 !default;
$pl-color-moon-tint-400: #adb6c0 !default;
$pl-color-moon-tint-400-ctr: #000000 !default;
$pl-color-moon-tint-500: #bbc3cb !default;
$pl-color-moon-tint-500-ctr: #000000 !default;
$pl-color-moon-tint-600: #c9cfd5 !default;
$pl-color-moon-tint-600-ctr: #000000 !default;
$pl-color-moon-tint-700: #d6dbe0 !default;
$pl-color-moon-tint-700-ctr: #000000 !default;
$pl-color-moon-tint-800: #e4e7ea !default;
$pl-color-moon-tint-800-ctr: #000000 !default;
$pl-color-moon-tint-900: #f1f3f5 !default;
$pl-color-moon-tint-900-ctr: #000000 !default;
