@import "properties";
@import "colors";
@import "mixins";
@import "utilities";
@import "properties";
@import "elevation";

@mixin ac-card {
  @include ac-elevation(1);
  @include ac-pad-xy($ac-spacing-sm, $ac-spacing-sm);
}

@mixin ac-containers {
  .ac-panel-container {
    margin: auto 1rem;

    &.page {
      padding-top: 2rem;
      padding-bottom: 2rem;

      &.screen-height {
        min-height: calc(100vh - 2rem);
      }
    }
  }

  @media only screen and (min-width: $ac-grid-size-sm-min) {
    .ac-panel-container {
      margin: auto 2rem;

      &.page {
        padding-top: 2rem;
        padding-bottom: 2rem;

        &.screen-height {
          min-height: calc(100vh - 2rem);
        }
      }
    }
  }

  @media only screen and (min-width: $ac-grid-size-md-min) {
    .ac-panel-container {
      margin: auto 4rem;

      &.page {
        padding-top: 4rem;
        padding-bottom: 4rem;

        &.screen-height {
          min-height: calc(100vh - 4rem);
        }
      }
    }
  }

  @media only screen and (min-width: $ac-grid-size-lg-min) {
    .ac-panel-container {
      margin: auto;
      max-width: $ac-panel-container-wrap-at;

      &.page {
        padding-top: 4rem;
        padding-bottom: 4rem;

        &.screen-height {
          min-height: calc(100vh - 4rem);
        }
      }
    }
  }

  @media only screen and (min-width: $ac-grid-size-xl-min) {
    .ac-panel-container {
      margin: auto;
      max-width: $ac-panel-container-wrap-at;

      &.page {
        padding-top: 4rem;
        padding-bottom: 4rem;

        &.screen-height {
          min-height: calc(100vh - 4rem);
        }
      }
    }
  }

  .ac-card {
    @include ac-card;

    background: $ac-color-body-light-bg-panel-primary;
    border: 1px solid $ac-color-body-light-bg-panel-primary-border;
    width: 100%;
    position: relative;
    min-height: 1em;

    @include ac-mode-dark {
      background: $ac-color-body-dark-bg-panel-primary;
      border: 1px solid $ac-color-body-dark-bg-panel-primary-border;
    }
  }

  .ac-panel {
    background: $ac-color-body-light-bg-panel-primary;
    border: 1px solid $ac-color-body-light-bg-panel-primary-border;
    width: 100%;
    position: relative;
    min-height: 1em;
    border-radius: 2px;

    @include ac-mode-dark {
      background: $ac-color-body-dark-bg-panel-primary;
      border: 1px solid $ac-color-body-dark-bg-panel-primary-border;
    }

    &.ac-card {
      @include ac-card;
    }

    &.secondary {
      background: $ac-color-body-light-bg-panel-secondary;
      border: 1px solid $ac-color-body-light-bg-panel-secondary-border;

      @include ac-mode-dark {
        background: $ac-color-body-dark-bg-panel-secondary;
        border: 1px solid $ac-color-body-dark-bg-panel-secondary-border;
      }
    }

    &.tertiary {
      background: $ac-color-body-light-bg-panel-tertiary;
      border: 1px solid $ac-color-body-light-bg-panel-tertiary-border;

      @include ac-mode-dark {
        background: $ac-color-body-dark-bg-panel-tertiary;
        border: 1px solid $ac-color-body-dark-bg-panel-tertiary-border;
      }
    }

    &.signal-info, &.signal-success, &.signal-warning, &.signal-danger {
      @include ac-pad-xy($ac-spacing-sm, $ac-spacing-xs);
      @include ac-mrg-y-smart($ac-spacing-sm);

      & > .signal-heading {
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: $ac-spacing-xxs;
        }
      }
    }

    &.signal-info {
      border: 1px solid $ac-color-neptune-tint-300;
      background: $ac-color-neptune-tint-500;

      & > .signal-heading {
        color: $ac-color-neptune;
      }

      @include ac-mode-dark {
        border: 1px solid $ac-color-neptune-shade-500;
        background: $ac-color-neptune-tint-100;
        color: $ac-color-neptune-tint-100-ctr;

        & > .signal-heading {
          color: $ac-color-neptune-shade-100;
        }
      }
    }

    &.signal-success {
      border: 1px solid $ac-color-gaia-tint-300;
      background: $ac-color-gaia-tint-500;

      & > .signal-heading {
        color: $ac-color-gaia;
      }

      @include ac-mode-dark {
        border: 1px solid $ac-color-gaia-shade-500;
        background: $ac-color-gaia-tint-100;
        color: $ac-color-gaia-tint-100-ctr;

        & > .signal-heading {
          color: $ac-color-gaia-shade-100;
        }
      }
    }

    &.signal-warning {
      border: 1px solid $ac-color-apricot-tint-300;
      background: $ac-color-apricot-tint-500;

      & > .signal-heading {
        color: $ac-color-apricot;
      }

      @include ac-mode-dark {
        border: 1px solid $ac-color-apricot-shade-500;
        background: $ac-color-apricot-tint-100;
        color: $ac-color-apricot-tint-100-ctr;

        & > .signal-heading {
          color: $ac-color-apricot-shade-100;
        }
      }
    }

    &.signal-danger {
      border: 1px solid $ac-color-wolf-tint-300;
      background: $ac-color-wolf-tint-500;

      & > .signal-heading {
        color: $ac-color-wolf;
      }

      @include ac-mode-dark {
        border: 1px solid $ac-color-wolf-shade-500;
        background: $ac-color-wolf-tint-100;
        color: $ac-color-wolf-tint-100-ctr;

        & > .signal-heading {
          color: $ac-color-wolf-shade-100;
        }
      }
    }
  }
}
