@import "typography";
@import "colors";
@import "properties";
@import "mixins";

@mixin ac-form {
  form.ac-form {
    & > div.form-item:not(:last-child) {
      margin-bottom: $ac-spacing-sm;
    }

    label {
      cursor: pointer;
      display: inline-flex;
      font-family: $ac-font-family-body;
      font-size: $ac-heading-h6-font-size;
      line-height: $ac-heading-h6-line-height;
      margin-bottom: $ac-spacing-xs;
    }

    ul.ac-error-list {
      color: $ac-color-wolf;
      margin: 0;
      padding: 0.25rem 0 0 1.4rem;
      font-size: 0.9rem;

      @include ac-mode-dark {
        color: $ac-color-wolf-tint-200;
      }
    }

    div.ac-error-list {
      color: $ac-color-wolf;
      padding-top: 0.25rem;
      font-size: 0.9rem;

      @include ac-mode-dark {
        color: $ac-color-wolf-tint-200;
      }
    }
  }

  input.ac-input:not([type]),
  input.ac-input[type=date],
  input.ac-input[type=datetime-local],
  input.ac-input[type=email],
  input.ac-input[type=month],
  input.ac-input[type=number],
  input.ac-input[type=password],
  input.ac-input[type=search],
  input.ac-input[type=tel],
  input.ac-input[type=text],
  input.ac-input[type=time],
  input.ac-input[type=url],
  input.ac-input[type=week],
  select.ac-input,
  textarea {
    background: $ac-color-body-light-bg-input-bg;
    border: 1px solid $ac-color-body-light-bg-input-border;
    color: $ac-color-body-light-bg-input-fg;
    outline-color: $ac-color-eve;
    font-family: $ac-font-family-body;
    font-size: 1em;
    padding: 0.714em 1.428em;
    border-radius: 2px;

    &.block {
      display: flex;
      width: 100%;
    }

    &::placeholder {
      font-size: 0.97em;
    }

    @include ac-mode-dark {
      background: $ac-color-body-dark-bg-input-bg;
      border: 1px solid $ac-color-body-dark-bg-input-border;
      color: $ac-color-body-dark-bg-input-fg;
      outline-color: $ac-color-cornflower;

      &::placeholder {
        color: darken($ac-color-body-dark-bg-input-fg, 20%);
        opacity: 1;
      }
    }

    &.sm {
      padding: 0.4em 0.8em;
    }

    &.lg {
      padding: 0.95em 2em;
    }

    // Deviation from normal naming convention to avoid collisions with other valdiation tools
    // Not coloring :required:invalid because they are marked as such on page load.
    &.ac-input-error, &:invalid:not(:required) {
      background: $ac-color-wolf-tint-500;
      border: 1px solid $ac-color-wolf-tint-300;
      color: $ac-color-wolf;
      outline-color: $ac-color-wolf;

      &::placeholder {
        color: $ac-color-wolf;
      }

      @include ac-mode-dark {
        background: $ac-color-wolf-tint-500;
        border: 1px solid $ac-color-wolf-tint-200;
        color: $ac-color-wolf;
        outline-color: $ac-color-wolf-tint-200;

        &::placeholder {
          color: $ac-color-wolf;
        }
      }
    }
  }

  select.ac-input {
    cursor: pointer;
    appearance: none;
  }

  textarea.ac-input {
    padding: 0.714em;
    min-height: 7em;

    &.block {
      display: flex;
      width: 100%;
    }

    &.sm {
      padding: 0.4em;
    }

    &.lg {
      padding: 0.95em;
    }
  }

  input.ac-input[type=checkbox] + label,
  input.ac-input[type=radio] + label{
    display: inline;
    padding-left: $ac-spacing-xs;
    cursor: pointer;
    font-size: $ac-font-size-body;
    line-height: initial;
  }
}
