@import "typography";
@import "colors";
@import "properties";
@import "mixins";

@mixin pl-form {
  form.pl-form {
    & > div:not(:last-child) {
      margin-bottom: $pl-spacing-sm;
    }

    label {
      display: flex;
      font-family: $pl-font-family-body;
      font-size: $pl-heading-h6-font-size;
      line-height: $pl-heading-h6-line-height;
      margin-bottom: $pl-spacing-xs;
    }

    ul.pl-error-list {
      color: $pl-color-wolf;
      margin: 0;
      padding: 0.25rem 0 0 1.4rem;
      font-size: 0.9rem;

      @include pl-mode-dark {
        color: $pl-color-wolf-tint-200;
      }
    }

    div.pl-error-list {
      color: $pl-color-wolf;
      padding-top: 0.25rem;
      font-size: 0.9rem;

      @include pl-mode-dark {
        color: $pl-color-wolf-tint-200;
      }
    }
  }

  input.pl-input:not([type]),
  input.pl-input[type=date],
  input.pl-input[type=datetime-local],
  input.pl-input[type=email],
  input.pl-input[type=month],
  input.pl-input[type=number],
  input.pl-input[type=password],
  input.pl-input[type=search],
  input.pl-input[type=tel],
  input.pl-input[type=text],
  input.pl-input[type=time],
  input.pl-input[type=url],
  input.pl-input[type=week],
  select.pl-input,
  textarea {
    background: $pl-color-body-light-bg-input-bg;
    border: 1px solid $pl-color-body-light-bg-input-border;
    color: $pl-color-body-light-bg-input-fg;
    outline-color: $pl-color-eve;
    font-family: $pl-font-family-body;
    font-size: 1em;
    padding: 0.714em 1.428em;
    border-radius: 2px;

    &.block {
      display: flex;
      width: 100%;
    }

    &::placeholder {
      font-size: 0.97em;
    }

    @include pl-mode-dark {
      background: $pl-color-body-dark-bg-input-bg;
      border: 1px solid $pl-color-body-dark-bg-input-border;
      color: $pl-color-body-dark-bg-input-fg;
      outline-color: $pl-color-cornflower;

      &::placeholder {
        color: darken($pl-color-body-dark-bg-input-fg, 20%);
        opacity: 1;
      }
    }

    &.sm {
      padding: 0.4em 0.8em;
    }

    &.lg {
      padding: 0.95em 2em;
    }

    // Deviation from normal naming convention to avoid collisions with other valdiation tools
    &.pl-input-error, &:invalid {
      background: $pl-color-wolf-tint-500;
      border: 1px solid $pl-color-wolf-tint-300;
      color: $pl-color-wolf;
      outline-color: $pl-color-wolf;

      &::placeholder {
        color: $pl-color-wolf;
      }

      @include pl-mode-dark {
        background: $pl-color-wolf-tint-500;
        border: 1px solid $pl-color-wolf-tint-200;
        color: $pl-color-wolf;
        outline-color: $pl-color-wolf-tint-200;

        &::placeholder {
          color: $pl-color-wolf;
        }
      }
    }
  }

  select.pl-input {
    cursor: pointer;
    appearance: none;
  }

  textarea.pl-input {
    padding: 0.714em;
    min-height: 7em;

    &.block {
      display: flex;
      width: 100%;
    }

    &.sm {
      padding: 0.4em;
    }

    &.lg {
      padding: 0.95em;
    }
  }

  input.pl-input[type=checkbox] + label,
  input.pl-input[type=radio] + label{
    display: inline;
    padding-left: $pl-spacing-xs;
    cursor: pointer;
    font-size: $pl-font-size-body;
    line-height: initial;
  }
}
