@import "properties";

$ac-grid-sizes: 'sm', 'md', 'lg', 'xl';

@mixin grid-size-commons($size) {
  .start-#{$size} {
    justify-content: flex-start;
    text-align: start;
  }

  .center-#{$size} {
    justify-content: center;
    text-align: center;
  }

  .end-#{$size} {
    justify-content: flex-end;
    text-align: end;
  }

  .top-#{$size} {
    align-items: flex-start;
  }

  .middle-#{$size} {
    align-items: center;
  }

  .bottom-#{$size} {
    align-items: flex-end;
  }

  .around-#{$size} {
    justify-content: space-around;
  }

  .between-#{$size} {
    justify-content: space-between;
  }

  .first-#{$size} {
    order: -1;
  }

  .last-#{$size} {
    order: 1;
  }
}

@mixin grid-size-columns($size) {
  .ac-col-#{$size} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  @for $i from 1 through $ac-grid-num-columns {
    $size-percentage: percentage(($i * 4.16666666667) / 100);

    .ac-col-#{$size}-#{$i} {
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: $size-percentage;
      max-width: $size-percentage;
    }

    .ac-col-#{$size}-offset-#{$i} {
      margin-left: $size-percentage;
    }

    .ac-col-#{$size}-push-#{$i} {
      margin-right: $size-percentage;
    }
  }
}

@mixin grid-columns-exclude-not($size) {
  @each $grid-size in $ac-grid-sizes {
    @if $grid-size != $size {
      .only-#{$grid-size} {
        display: none;
      }
    }
  }
}

@mixin ac-grid {
  .ac-row {
    display: flex;
    box-sizing: border-box;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    &:after, &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  @include grid-size-commons('xs');
  @include grid-size-columns('xs');
  @include grid-columns-exclude-not('xs');

  @media only screen and (min-width: $ac-grid-size-sm-min) {
    @include grid-size-commons('sm');
    @include grid-size-columns('sm');
    @include grid-columns-exclude-not('sm');
  }

  @media only screen and (min-width: $ac-grid-size-md-min) {
    @include grid-size-commons('md');
    @include grid-size-columns('md');
    @include grid-columns-exclude-not('md');
  }

  @media only screen and (min-width: $ac-grid-size-lg-min) {
    @include grid-size-commons('lg');
    @include grid-size-columns('lg');
    @include grid-columns-exclude-not('lg');
  }

  @media only screen and (min-width: $ac-grid-size-xl-min) {
    @include grid-size-commons('xl');
    @include grid-size-columns('xl');
    @include grid-columns-exclude-not('xl');
  }
}
