@import "properties";

$ac-grid-sizes: 'sm', 'md', 'lg', 'xl';

@mixin grid-size-commons($size) {
  $suffix: '';

  @if $size != 'xs' {
    $suffix: '-#{$size}';
  }

  .ac-display-inline#{$suffix} {
    display: inline;
  }

  .ac-display-block#{$suffix} {
    display: block;
  }

  .ac-display-contents#{$suffix} {
    display: contents;
  }

  .ac-display-flex#{$suffix} {
    display: flex;
  }

  .ac-display-grid#{$suffix} {
    display: grid;
  }

  .ac-display-inline-block#{$suffix} {
    display: inline-block;
  }

  .ac-display-inline-flex#{$suffix} {
    display: inline-flex;
  }

  .ac-display-inline-grid#{$suffix} {
    display: inline-grid;
  }

  .ac-display-inline-table#{$suffix} {
    display: inline-table;
  }

  .ac-display-list-item#{$suffix} {
    display: list-item;
  }

  .ac-display-run-in#{$suffix} {
    display: run-in;
  }

  .ac-display-table#{$suffix} {
    display: table;
  }

  .ac-display-table-caption#{$suffix} {
    display: table-caption;
  }

  .ac-display-table-column-group#{$suffix} {
    display: table-column-group;
  }

  .ac-display-table-header-group#{$suffix} {
    display: table-header-group;
  }

  .ac-display-table-footer-group#{$suffix} {
    display: table-footer-group;
  }

  .ac-display-table-row-group#{$suffix} {
    display: table-row-group;
  }

  .ac-display-table-cell#{$suffix} {
    display: table-cell;
  }

  .ac-display-table-column#{$suffix} {
    display: table-column;
  }

  .ac-display-table-row#{$suffix} {
    display: table-row;
  }

  .ac-display-none#{$suffix} {
    display: none;
  }

  .ac-display-initial#{$suffix} {
    display: initial;
  }

  .ac-display-inherit#{$suffix} {
    display: inherit;
  }

  .ac-start#{$suffix} {
    justify-content: flex-start;
  }

  .ac-center#{$suffix} {
    justify-content: center;
  }

  .ac-end#{$suffix} {
    justify-content: flex-end;
  }

  .ac-top#{$suffix} {
    align-items: flex-start;
  }

  .ac-middle#{$suffix} {
    align-items: center;
  }

  .ac-bottom#{$suffix} {
    align-items: flex-end;
  }

  .ac-around#{$suffix} {
    justify-content: space-around;
  }

  .ac-between#{$suffix} {
    justify-content: space-between;
  }

  .ac-first#{$suffix} {
    order: -1;
  }

  .ac-last#{$suffix} {
    order: 1;
  }
}

@mixin grid-size-columns($size) {
  $suffix: '';

  @if $size != 'xs' {
    $suffix: '-#{$size}';
  }

  .ac-col#{$suffix} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  @for $i from 1 through $ac-grid-num-columns {
    $size-percentage: percentage(($i * 4.16666666667) / 100);

    .ac-col#{$suffix}-#{$i} {
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: $size-percentage;
      max-width: $size-percentage;
    }

    .ac-col#{$suffix}-offset-#{$i} {
      margin-left: $size-percentage;
    }

    .ac-col#{$suffix}-push-#{$i} {
      margin-right: $size-percentage;
    }
  }
}

@mixin grid-columns-exclude-not($size) {
  @each $grid-size in $ac-grid-sizes {
    @if $grid-size != $size {
      .only-#{$grid-size} {
        display: none;
      }
    }
  }
}

@mixin ac-grid {
  .ac-row {
    display: flex;
    box-sizing: border-box;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    &:after, &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  @include grid-size-commons('xs');
  @include grid-size-columns('xs');
  @include grid-columns-exclude-not('xs');

  @media only screen and (min-width: $ac-grid-size-sm-min) {
    @include grid-size-commons('sm');
    @include grid-size-columns('sm');
    @include grid-columns-exclude-not('sm');
  }

  @media only screen and (min-width: $ac-grid-size-md-min) {
    @include grid-size-commons('md');
    @include grid-size-columns('md');
    @include grid-columns-exclude-not('md');
  }

  @media only screen and (min-width: $ac-grid-size-lg-min) {
    @include grid-size-commons('lg');
    @include grid-size-columns('lg');
    @include grid-columns-exclude-not('lg');
  }

  @media only screen and (min-width: $ac-grid-size-xl-min) {
    @include grid-size-commons('xl');
    @include grid-size-columns('xl');
    @include grid-columns-exclude-not('xl');
  }
}
