@import "vendor";
@import "mixins";
@import "properties";
@import "colors";
@import "typography";
@import "buttons";
@import "form";
@import "table";
@import "grid";
@import "containers";
@import "utilities";
@import "elevation";
@import "navbar";
@import "layouts";
@import "account";
@import "pricing";

@mixin ac-main {
  @at-root {
    body, html {
      font-size: $ac-font-size-body;
      line-height: initial;
      font-family: $ac-font-family-body;
      font-weight: normal;
      font-style: normal;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-shadow: none;
      position: relative;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background: $ac-color-body-light-text-bg;
      color: $ac-color-body-light-text-fg;

      .ac-only-dark {
        display: none;
      }

      &.ac-mode-dark {
        background: $ac-color-body-dark-text-bg;
        color: $ac-color-body-dark-text-fg;

        .ac-only-dark {
          display: initial;
        }

        .ac-only-light {
          display: none;
        }
      }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      line-height: initial;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    // TODO: rename to ac-module-*
    @include ac-typography();
    @include ac-buttons();
    @include ac-form();
    @include ac-table();
    @include ac-grid();
    @include ac-containers();
    @include ac-utilities();
    @include ac-navbar();
    @include ac-layouts();
    @include ac-account();
    @include ac-pricing();
  }
}
