@import "properties";
@import "colors";
@import "mixins";
@import "typography";
@import "containers";

@mixin pl-navbar {
  .pl-navbar-container {
    width: 100%;
    background: $pl-color-body-light-bg-navbar-bg;
    z-index: $pl-navbar-sticky-z-index;

    @include pl-mode-dark {
      background: $pl-color-body-dark-bg-navbar-bg;
    }

    &.sticky {
      @include pl-elevation(
          1,
          $pl-color-body-light-bg-navbar-elevation-light,
          $pl-color-body-dark-bg-navbar-elevation-dark,
          3,
          2
      );

      top: 0;
      position: sticky;
      padding-left: $pl-spacing-sm;
      padding-right: $pl-spacing-sm;
    }

    & > nav.pl-navbar {
      max-width: $pl-panel-container-wrap-at;
      margin: auto;
    }
  }

  nav.pl-navbar {
    width: 100%;
    background: $pl-color-body-light-bg-navbar-bg;
    position: relative;
    min-height: 32px;
    max-height: 70vh;
    overflow-y: auto; // :)
    overflow-x: auto; // :)

    @include pl-mode-dark {
      background: $pl-color-body-dark-bg-navbar-bg;

      & > ul.nav-items > li {
        & > a.nav-item, & > button.nav-item {
          color: $pl-color-body-dark-bg-navbar-fg;

          &:hover {
            color: $pl-color-body-dark-bg-navbar-hover-fg;
          }

          &:active, &:focus {
            color: $pl-color-body-dark-bg-navbar-active-fg;
            border-bottom: 1px solid $pl-color-body-dark-bg-navbar-active-fg;
          }

          &.active {
            color: $pl-color-body-dark-bg-navbar-active-fg;
          }

          &.plain:hover, &.plain:active, &.plain:focus, &.plain.active,
          &.logo:hover, &.logo:active, &.logo:focus, &.logo.active {
            text-decoration: none;
            background: none;
          }
        }
      }
    }

    &.open > ul.nav-items {
      display: flex;
    }

    & > ul.nav-items {
      list-style-type: none;
      position: relative;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;

      & > li {
        display: flex;
        position: relative;

        &.spacer {
          padding-right: $pl-spacing-md;
        }

        & > a.nav-item, & > button.nav-item {
          position: relative;
          display: flex;
          color: $pl-color-body-light-bg-navbar-fg;
          font-family: $pl-font-family-body;
          font-size: $pl-font-size-body;
          line-height: $pl-font-size-body-line-height;
          border-radius: 0;
          background: transparent;
          text-decoration: none;
          cursor: pointer;
          border: 0;
          margin: 0;
          justify-content: center;
          align-items: center;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          flex: 1;

          &:hover {
            color: $pl-color-body-light-bg-navbar-hover-fg;
            border-bottom: 1px solid $pl-color-body-light-bg-navbar-hover-fg;
          }

          &:active, &:focus {
            outline: none;
            color: $pl-color-body-light-bg-navbar-active-fg;
            border-bottom: 1px solid $pl-color-body-light-bg-navbar-active-fg;
          }

          &.active {
            color: $pl-color-body-light-bg-navbar-hover-fg;
          }

          &.plain:hover, &.plain:active, &.plain:focus, &.plain.active,
          &.logo:hover, &.logo:active, &.logo:focus, &.logo.active {
            text-decoration: none;
            background: none;

            &.logo {
              border-bottom-color: transparent;
            }
          }

          &:not(.plain) {
            padding: 1.44rem $pl-spacing-md;
          }

          &.logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            & > img, & > svg {
              height: 16px;
              image-rendering: high-quality;
            }

            & > svg {
              shape-rendering: geometricPrecision;
            }

            &.dark {
              display: none;
            }

            @include pl-mode-dark {
              &.light {
                display: none;
              }

              &.dark {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
