@import "colors";
@import "properties";
@import "mixins";
@import "typography";

@mixin ac-pricing {
  section.ac-pricing {
    width: 100%;
    top: $ac-spacing-xxs * -1;
    left: $ac-spacing-xxs * -1;
    right: $ac-spacing-xxs * -1;
    position: relative;

    @include ac-screen-md-up {
      display: flex;
      top: $ac-spacing-sm * -1;
      left: $ac-spacing-sm * -1;
      right: $ac-spacing-sm * -1;
    }

    & > div.plan {
      border-radius: 2px;
      margin: $ac-spacing-xs $ac-spacing-xs $ac-spacing-md;
      padding: $ac-spacing-sm;
      background: $ac-color-body-light-bg-panel-secondary;
      border: 1px solid $ac-color-body-light-bg-panel-secondary-border;

      @include ac-screen-md-up {
        flex: 1;
        margin: $ac-spacing-sm;
        padding: $ac-spacing-md;
      }

      @include ac-mode-dark {
        background: $ac-color-body-dark-bg-panel-secondary;
        border: 1px solid $ac-color-body-dark-bg-panel-secondary-border;
      }

      & > div.content {
        & > div.title {
          margin-bottom: $ac-spacing-md;

          & > h4 {
            text-align: center;
            color: $ac-color-neptune;
            font-size: $ac-heading-h3-font-size;
            line-height: $ac-heading-h3-font-size;
            font-family: $ac-font-family-title;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0;

            @include ac-mode-dark {
              color: $ac-color-neptune-tint-400;
            }
          }
        }

        & > div.price {
          display: flex;
          justify-content: center;
          margin-bottom: $ac-spacing-xs;

          & > span.currency {
            font-size: 0.92em;
            line-height: 0.92em;
            padding-left: 2px;
          }

          & > span.symbol {
            font-size: 0.92em;
            line-height: 0.92em;
            padding-left: 1em;
            padding-right: 2px;
          }

          & > span.price {
            font-size: $ac-heading-h3-font-size;
            line-height: $ac-heading-h3-font-size;
          }
        }

        div.term {
          display: flex;
          justify-content: center;
          min-height: $ac-heading-h6-font-size;
          font-size: $ac-heading-h6-font-size;
          margin-bottom: $ac-spacing-sm;
        }

        div.cta {
          margin-bottom: $ac-spacing-md;

          & > .ac-button {
            display: flex;
            width: 100%;
          }
        }

        & > div.description {
          margin-bottom: $ac-spacing-md;
        }

        & > ul.conditions {
          margin: 0;
          padding: 0;
          list-style-type: none;

          & > li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            &::before {
              padding-right: 5px;
              font-size: 32px;
              height: 14px;
              line-height: 14px;
              overflow: hidden;
              content: "\002022";
              color: $ac-color-neptune;
            }
          }
        }
      }
    }
  }
}
