$pl-grid-num-columns: 24 !default;

$pl-grid-size-sm-min: 544px !default;
$pl-grid-size-md-min: 768px !default;
$pl-grid-size-lg-min: 1020px !default;
$pl-grid-size-xl-min: 1200px !default;

$pl-panel-container-wrap-at: 960px !default;


$pl-animation-timing-normal: 120ms !default;
$pl-animation-transition-common: cubic-bezier(0.4, 0, 0.2, 1) !default;

$pl-navbar-sticky-z-index: 7275 !default;
$pl-navbar-full-breakpoint: 768px !default;
