$ac-grid-num-columns: 24 !default;

$ac-grid-size-sm-min: 544px !default;
$ac-grid-size-md-min: 768px !default;
$ac-grid-size-lg-min: 1020px !default;
$ac-grid-size-xl-min: 1200px !default;

$ac-panel-container-wrap-at: 960px !default;


$ac-animation-timing-normal: 120ms !default;
$ac-animation-transition-common: cubic-bezier(0.4, 0, 0.2, 1) !default;

$ac-navbar-sticky-z-index: 7275 !default;
$ac-navbar-full-breakpoint: 768px !default;
