@import "colors";
@import "mixins";

/**
TODO: webkit specific styling should be removed once scrollbar-color is adopted
and actually renders somewhat correctly.
 */
@mixin ac-scrollbars {
  $--background-light: lighten($ac-color-body-light-text-fg, 50%);
  $--foreground-light: lighten($ac-color-body-light-text-fg, 70%);
  $--background-dark: darken($ac-color-body-dark-text-bg, 5%);
  $--foreground-dark: darken($ac-color-body-dark-text-bg, 12%);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar {
    background-color: $--background-light;
  }

  &::-webkit-scrollbar-track {
    background-color: $--background-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $--foreground-light;
  }

  @include ac-mode-dark {
    &::-webkit-scrollbar {
      background-color: $--background-dark;
    }

    &::-webkit-scrollbar-track {
      background-color: $--background-dark;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $--foreground-dark;
    }
  }
}
