@import "mixins";
@import "colors";
@import "utilities";

// TODO: cleanup, extract variables etc.

$pl-font-family-body: -apple-system,
BlinkMacSystemFont,
'segoe ui',
roboto,
oxygen-sans,
ubuntu,
cantarell,
'helvetica neue',
'arial',
sans-serif,
'apple color emoji',
'segoe ui emoji',
'segoe ui symbol' !default;

$pl-font-family-title: 'open sans',
-apple-system,
BlinkMacSystemFont,
'segoe ui',
roboto,
oxygen-sans,
ubuntu,
cantarell,
'helvetica neue',
'arial',
sans-serif,
'apple color emoji',
'segoe ui emoji',
'segoe ui symbol' !default;

$pl-font-family-mono: 'source code pro',
consolas,
'courier new',
courier,
monospace !default;

$pl-font-size-body: 14px !default;
$pl-font-size-body-line-height: 22px !default;
$pl-heading-title-margin-mul: 1.5 !default;
$pl-heading-title-padding-mul: 0.25 !default;

$pl-heading-h1-font-size-large: 3.42921rem;
$pl-heading-h1-line-height-large: 4.04317rrem;

$pl-heading-h1-font-size: $pl-heading-h1-font-size-large * 0.7;
$pl-heading-h1-line-height: $pl-heading-h1-line-height-large * 0.7;

$pl-heading-h2-font-size-large: 2.28571rem;
$pl-heading-h2-line-height-large: 3.03113rrem;

$pl-heading-h2-font-size: $pl-heading-h2-font-size-large * 0.8;
$pl-heading-h2-line-height: $pl-heading-h2-line-height-large * 0.8;

$pl-heading-h3-font-size-large: 1.81428rem;
$pl-heading-h3-line-height-large: 2.42857rrem;

$pl-heading-h3-font-size: $pl-heading-h3-font-size-large * 0.8;
$pl-heading-h3-line-height: $pl-heading-h3-line-height-large * 0.8;

$pl-heading-h4-font-size-large: 1.57142rem;
$pl-heading-h4-line-height-large: 2.14285rrem;

$pl-heading-h4-font-size: $pl-heading-h4-font-size-large * 0.8;
$pl-heading-h4-line-height: $pl-heading-h4-line-height-large * 0.8;

$pl-heading-h5-font-size-large: 1.42857rem;
$pl-heading-h5-line-height-large: 2.11285rrem;

$pl-heading-h5-font-size: $pl-heading-h5-font-size-large * 0.8;
$pl-heading-h5-line-height: $pl-heading-h5-line-height-large * 0.8;

$pl-heading-h6-font-size-large: 1.14285rem;
$pl-heading-h6-line-height-large: 1.57142rrem;

$pl-heading-h6-font-size: $pl-heading-h6-font-size-large * 0.95;
$pl-heading-h6-line-height: $pl-heading-h6-line-height-large * 0.95;

@mixin pl-typography {
  .pl-font-title-primary {
    font-family: $pl-font-family-title;
  }

  .pl-font-body {
    font-family: $pl-font-family-body;
  }

  .pl-font-mono {
    font-family: $pl-font-family-mono;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: $pl-color-body-light-heading-text-fg;
    font-family: $pl-font-family-title;

    @include pl-mode-dark {
      color: $pl-color-body-dark-heading-text-fg;
    }

    & > small {
      font-size: 0.6em;
    }

    &.pl-title {
      border-bottom: 1px solid $pl-color-body-light-bg-panel-primary-border;

      @include pl-mode-dark {
        border-bottom: 1px solid $pl-color-body-dark-bg-panel-primary-border;
      }
    }
  }

  h1 {
    font-weight: 300;
  }

  h2, h3 {
    font-weight: 600;
  }

  h4, h5, h6 {
    font-weight: 400;
  }

  h1 {
    font-size: $pl-heading-h1-font-size;
    line-height: $pl-heading-h1-line-height;

    @include pl-screen-md-up {
      font-size: $pl-heading-h1-font-size-large;
      line-height: $pl-heading-h1-line-height-large;
    }

    @include pl-mrg-y(0.75em);

    &:first-child {
      margin-top: 0;
    }

    &.pl-title {
      margin-bottom: 0.75em * $pl-heading-title-margin-mul;
      padding-bottom: 0.75em * $pl-heading-title-padding-mul;
    }
  }

  h2 {
    font-size: $pl-heading-h2-font-size;
    line-height: $pl-heading-h2-line-height;

    @include pl-screen-md-up {
      font-size: $pl-heading-h2-font-size-large;
      line-height: $pl-heading-h2-line-height-large;
    }

    @include pl-mrg-y(0.5em);

    &:first-child {
      margin-top: 0;
    }

    &.pl-title {
      margin-bottom: 0.5em * $pl-heading-title-margin-mul;
      padding-bottom: 0.5em * $pl-heading-title-padding-mul;
    }
  }

  h3 {
    font-size: $pl-heading-h3-font-size;
    line-height: $pl-heading-h3-line-height;

    @include pl-screen-md-up {
      font-size: $pl-heading-h3-font-size-large;
      line-height: $pl-heading-h3-line-height-large;
    }

    @include pl-mrg-y(0.5em);

    &:first-child {
      margin-top: 0;
    }

    &.pl-title {
      margin-bottom: 0.5em * $pl-heading-title-margin-mul;
      padding-bottom: 0.5em * $pl-heading-title-padding-mul;
    }
  }

  h4 {
    font-size: $pl-heading-h4-font-size;
    line-height: $pl-heading-h4-line-height;

    @include pl-screen-md-up {
      font-size: $pl-heading-h4-font-size-large;
      line-height: $pl-heading-h4-line-height-large;
    }

    @include pl-mrg-y(0.5em);

    &:first-child {
      margin-top: 0;
    }

    &.pl-title {
      margin-bottom: 0.5em * $pl-heading-title-margin-mul;
      padding-bottom: 0.5em * $pl-heading-title-padding-mul;
    }
  }

  h5 {
    font-size: $pl-heading-h5-font-size;
    line-height: $pl-heading-h5-line-height;

    @include pl-screen-md-up {
      font-size: $pl-heading-h5-font-size-large;
      line-height: $pl-heading-h5-line-height-large;
    }

    @include pl-mrg-y(0.25em);

    &:first-child {
      margin-top: 0;
    }

    &.pl-title {
      margin-bottom: 0.25em * $pl-heading-title-margin-mul;
      padding-bottom: 0.25em * $pl-heading-title-padding-mul;
    }
  }

  h6 {
    font-size: $pl-heading-h6-font-size;
    line-height: $pl-heading-h6-line-height;

    @include pl-screen-md-up {
      font-size: $pl-heading-h6-font-size-large;
      line-height: $pl-heading-h6-line-height-large;
    }

    @include pl-mrg-y(0.25em);

    &:first-child {
      margin-top: 0;
    }

    &.pl-title {
      margin-bottom: 0.25em * $pl-heading-title-margin-mul;
      padding-bottom: 0.25em * $pl-heading-title-padding-mul;
    }
  }

  a:not(.pl-button) {
    color: $pl-color-neptune;

    &::-moz-focus-inner {
      border: 0;
    }

    @include pl-mode-dark {
      color: $pl-color-neptune-tint-200;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $pl-color-neptune-shade-300;

      @include pl-mode-dark {
        color: $pl-color-neptune;
      }
    }
  }

  p {
    font-size: $pl-font-size-body;
    line-height: $pl-font-size-body-line-height;
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    user-select: none;
  }

  kbd {
    color: $pl-color-crimson;

    @include pl-mode-dark() {
      color: $pl-color-crimson-tint-200;
    }
  }

  code, pre, kbd {
    font-size: 1em;
    font-family: $pl-font-family-mono;
    font-weight: normal;
    overflow: auto;

    &.wrap {
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
  }

  code {
    color: $pl-color-crimson;
    background: $pl-color-body-light-bg-panel-secondary;
    padding-left: 2px;
    padding-right: 2px;

    @include pl-mode-dark() {
      color: $pl-color-crimson-tint-200;
      background: $pl-color-body-dark-bg-panel-secondary;
    }

    &.block {
      display: flex;
      padding: 0.8em;
    }

    & > pre {
      margin: 0;
      padding: 0;
    }
  }

  .pl-text-micro {
    &.heading {
      font-size: 0.929em;
      line-height: 1.429em;
      text-transform: uppercase;
    }

    &.copy {
      font-size: 0.857em;
      line-height: 1.429em;
    }
  }

  .pl-text-body {
    font-size: $pl-font-size-body;
    font-family: $pl-font-family-body;
    line-height: $pl-font-size-body-line-height;
  }
}
