@import "mixins";
@import "colors";
@import "utilities";
@import "scrollbars";

// TODO: cleanup, extract variables etc.

$ac-font-family-body: 'SF Pro Text',
-apple-system,
BlinkMacSystemFont,
'segoe ui',
roboto,
oxygen-sans,
ubuntu,
cantarell,
'helvetica neue',
'arial',
sans-serif,
'apple color emoji',
'segoe ui emoji',
'segoe ui symbol' !default;

$ac-font-family-title: 'SF Pro Display',
'open sans',
-apple-system,
BlinkMacSystemFont,
'segoe ui',
roboto,
oxygen-sans,
ubuntu,
cantarell,
'helvetica neue',
'arial',
sans-serif,
'apple color emoji',
'segoe ui emoji',
'segoe ui symbol' !default;

$ac-font-family-mono: 'SF Mono',
'source code pro',
consolas,
'courier new',
courier,
monospace !default;

$ac-font-size-body: 16px !default;
$ac-font-size-body-line-height: 22px !default;
$ac-heading-title-margin-mul: 1.0 !default;
$ac-heading-title-padding-mul: 1.0 !default;

$ac-heading-h1-font-size-large: 2.4em;
$ac-heading-h1-line-height-large: 1.2;

$ac-heading-h1-font-size: $ac-heading-h1-font-size-large * 0.7;
$ac-heading-h1-line-height: $ac-heading-h1-line-height-large * 0.7;

$ac-heading-h2-font-size-large: 1.8em;
$ac-heading-h2-line-height-large: 1.2;

$ac-heading-h2-font-size: $ac-heading-h2-font-size-large * 0.8;
$ac-heading-h2-line-height: $ac-heading-h2-line-height-large * 0.8;

$ac-heading-h3-font-size-large: 1.5em;
$ac-heading-h3-line-height-large: 1.2;

$ac-heading-h3-font-size: $ac-heading-h3-font-size-large * 0.9;
$ac-heading-h3-line-height: $ac-heading-h3-line-height-large * 0.9;

$ac-heading-h4-font-size-large: 1.2em;
$ac-heading-h4-line-height-large: 1.2;

$ac-heading-h4-font-size: $ac-heading-h4-font-size-large;
$ac-heading-h4-line-height: $ac-heading-h4-line-height-large;

$ac-heading-h5-font-size-large: 1.1em;
$ac-heading-h5-line-height-large: 1.2;

$ac-heading-h5-font-size: $ac-heading-h5-font-size-large;
$ac-heading-h5-line-height: $ac-heading-h5-line-height-large;

$ac-heading-h6-font-size-large: 1.0em;
$ac-heading-h6-line-height-large: 1.2;

$ac-heading-h6-font-size: $ac-heading-h6-font-size-large;
$ac-heading-h6-line-height: $ac-heading-h6-line-height-large;

@mixin ac-typography {
  .ac-font-title-primary {
    font-family: $ac-font-family-title;
  }

  .ac-font-body {
    font-family: $ac-font-family-body;
  }

  .ac-font-mono {
    font-family: $ac-font-family-mono;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0;
    color: $ac-color-body-light-heading-text-fg;
    font-family: $ac-font-family-title;
    margin: 1.5em 0 0.5em 0;

    @include ac-mode-dark {
      color: $ac-color-body-dark-heading-text-fg;
    }

    & > small {
      font-size: 0.6em;
    }

    &.ac-title {
      border-bottom: 1px solid $ac-color-body-light-bg-panel-primary-border;

      &:not(:only-child) {
        margin-bottom: 1.5em * $ac-heading-title-margin-mul;
        padding-bottom: 0.5em * $ac-heading-title-padding-mul;
      }

      @include ac-mode-dark {
        border-bottom: 1px solid $ac-color-body-dark-bg-panel-primary-border;
      }
    }


  }

  h1 {
    font-weight: 300;
  }

  h2 {
    font-weight: 400;
  }

  h3 {
    font-weight: 500;
  }

  h4, h5, h6 {
    font-weight: 600;
  }

  h1 {
    font-size: $ac-heading-h1-font-size;
    line-height: $ac-heading-h1-line-height;

    @include ac-screen-md-up {
      font-size: $ac-heading-h1-font-size-large;
      line-height: $ac-heading-h1-line-height-large;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: $ac-heading-h2-font-size;
    line-height: $ac-heading-h2-line-height;

    @include ac-screen-md-up {
      font-size: $ac-heading-h2-font-size-large;
      line-height: $ac-heading-h2-line-height-large;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: $ac-heading-h3-font-size;
    line-height: $ac-heading-h3-line-height;

    @include ac-screen-md-up {
      font-size: $ac-heading-h3-font-size-large;
      line-height: $ac-heading-h3-line-height-large;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    font-size: $ac-heading-h4-font-size;
    line-height: $ac-heading-h4-line-height;

    @include ac-screen-md-up {
      font-size: $ac-heading-h4-font-size-large;
      line-height: $ac-heading-h4-line-height-large;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h5 {
    font-size: $ac-heading-h5-font-size;
    line-height: $ac-heading-h5-line-height;

    @include ac-screen-md-up {
      font-size: $ac-heading-h5-font-size-large;
      line-height: $ac-heading-h5-line-height-large;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h6 {
    font-size: $ac-heading-h6-font-size;
    line-height: $ac-heading-h6-line-height;

    @include ac-screen-md-up {
      font-size: $ac-heading-h6-font-size-large;
      line-height: $ac-heading-h6-line-height-large;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  // TODO: icon links
  a:not(.ac-button) {
    color: $ac-color-neptune;

    &::-moz-focus-inner {
      border: 0;
    }

    @include ac-mode-dark {
      color: $ac-color-neptune-tint-400;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $ac-color-neptune-shade-300;

      @include ac-mode-dark {
        color: $ac-color-neptune-tint-200;
      }
    }
  }

  p {
    font-size: $ac-font-size-body;
    line-height: $ac-font-size-body-line-height;
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    user-select: none;
  }

  kbd {
    color: $ac-color-crimson;

    @include ac-mode-dark() {
      color: $ac-color-crimson-tint-300;
    }
  }

  code, pre, kbd {
    font-size: 1em;
    font-family: $ac-font-family-mono;
    font-weight: normal;
    overflow: auto;

    @include ac-scrollbars;

    &.wrap {
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
  }

  code {
    color: $ac-color-crimson;
    background: $ac-color-body-light-bg-panel-secondary;
    padding-left: 2px;
    padding-right: 2px;

    @include ac-mode-dark() {
      color: $ac-color-crimson-tint-300;
      background: $ac-color-body-dark-bg-panel-secondary;
    }

    &.block {
      display: flex;
      padding: 0.8em;
    }

    & > pre {
      margin: 0;
      padding: 0;
    }
  }

  .ac-text-micro {
    &.heading {
      font-size: 0.929em;
      line-height: 1.429em;
      text-transform: uppercase;
    }

    &.copy {
      font-size: 0.857em;
      line-height: 1.429em;
    }
  }

  .ac-text-body {
    font-size: $ac-font-size-body;
    font-family: $ac-font-family-body;
    line-height: $ac-font-size-body-line-height;
  }
}
