$ac-spacing-na: 0;
$ac-spacing-layout: 1.485714285714284rem;
$ac-spacing-3xs: 0.14285714285714285rem;
$ac-spacing-xxs: 0.2857142857142857rem;
$ac-spacing-xs: 0.5714285714285714rem;
$ac-spacing-sm: 1.1428571428571428rem;
$ac-spacing-md: 2.2857142857142856rem;
$ac-spacing-lg: 3.4285714285714284rem;
$ac-spacing-xl: 4.571428571428571rem;
$ac-spacing-xxl: 5.714285714285714rem;
$ac-spacing-3xl: 6.857142857142857rem;

@mixin ac-pad-x($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin ac-pad-y($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin ac-pad-xy($x, $y) {
  @include ac-pad-x($x);
  @include ac-pad-y($y);
}

@mixin ac-mrg-x($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin ac-mrg-y($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin ac-mrg-xy($x, $y) {
  @include ac-mrg-x($x);
  @include ac-mrg-y($y);
}

@mixin ac-mrg-y-smart($size) {
  &:not(:only-child) {
    &:first-child {
      margin-top: $size;
    }

    &:not(:last-child) {
      margin-bottom: $size;
    }
  }
}

@mixin ac-utilities {
  $spacing-sizes: (
    'layout': $ac-spacing-layout,
    'na': $ac-spacing-na,
    '3xs': $ac-spacing-3xs,
    'xxs': $ac-spacing-xxs,
    'xs': $ac-spacing-xs,
    'sm': $ac-spacing-sm,
    'md': $ac-spacing-md,
    'lg': $ac-spacing-lg,
    'xl': $ac-spacing-xl,
    'xxl': $ac-spacing-xxl,
    '3xl': $ac-spacing-3xl,
  );

  @each $size, $spacing in $spacing-sizes {
    .ac-pad-xy-#{$size} {
      padding: $spacing;
    }

    .ac-pad-x-#{$size} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .ac-pad-y-#{$size} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .ac-pad-l-#{$size} {
      padding-left: $spacing;
    }

    .ac-pad-r-#{$size} {
      padding-right: $spacing;
    }

    .ac-pad-t-#{$size} {
      padding-top: $spacing;
    }

    .ac-pad-b-#{$size} {
      padding-bottom: $spacing;
    }

    .ac-mrg-xy-#{$size} {
      margin: $spacing;
    }

    .ac-mrg-x-#{$size} {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    .ac-mrg-y-#{$size} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .ac-mrg-l-#{$size} {
      margin-left: $spacing;
    }

    .ac-mrg-r-#{$size} {
      margin-right: $spacing;
    }

    .ac-mrg-t-#{$size} {
      margin-top: $spacing;
    }

    .ac-mrg-b-#{$size} {
      margin-bottom: $spacing;
    }
  }

  .ac-mrg-x-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .ac-user-select-none {
    user-select: none;
  }

  .ac-user-select-auto {
    user-select: auto;
  }

  .ac-user-select-text {
    user-select: text;
  }

  .ac-user-select-contain {
    user-select: contain;
  }

  .ac-user-select-all {
    user-select: all;
  }

  .ac-text-left {
    text-align: left;
  }

  .ac-text-center {
    text-align: center;
  }

  .ac-text-right {
    text-align: right;
  }

  .ac-word-break-all {
    word-break: break-all;
  }

  .ac-word-break-word {
    word-break: break-word;
  }

  .ac-flex {
    display: flex;
  }

  .ac-fit {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
